{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | ArcTitan</title>
{% endblock %}





{% block body %}
<div id="main">

<div id="primary">

  <div id="content" role="main">

    <!-- begin article -->

  <article class="post hentry format-image">

  	<header class="entry-header">

		<h1 class="entry-title">ArcTitan</h1></header>

    <!-- .entry-header -->

    

    <div class="entry-content">

      <div class="full-size">

      	<img src="{{ asset('bundles/app/style/images/hdmexico_arctitan_presentacion.jpg')}}" alt="" /></div>

      <table width="100%" border="0">
      	<tr>
        	<td width="5%">&nbsp;</td>
            <td width="30%">
            	<p><strong>La solución de almacenamiento de correo electrónico ideal para organizaciones que necesitan acceso su email de forma instantánea y segura.</strong></p>
                <ul>
                	<li>Correo electrónico seguro y cifrado, transferencia, almacenamiento y recuperación.</li>
           	    	<li>Cumplimiento de normas HIPAA, SOX y más</li>
           	    	<li>Compatible con el servidor de correo electrónico</li>
           	    	<li>Búsqueda exhaustiva y presentación de informes</li>
                </ul>
            	<p>Arc Titan es la solución completa de archivado de correo electrónico basado en la nube. Fácil de acceder y configurar con Tecnologia SuperFastSearch ™.</p>
                <p>Los usuarios pueden buscar, ver y recuperar su correo electrónico incluso desde Outlook.</p>
                <p>Arc Titan también incluye la funcionalidad de auditoría de correo electrónico y ofrece compatibilidad con estándares legales como la ley Sarbanes-Oxley, HIPAA y otras.</p>
                <h4>Potente</h4>
                <p><strong>Una solución potente y flexible para satisfacer todas las necesidades de archivado de correo electrónico de negocios</strong></p>
            </td>
            <td width="10%">&nbsp;</td>
            <td width="50%">
                <h4>¿Por qué utilizar Arc Titan?</h4>
                <p><strong>Seguro y robusto</strong></p>
                <p>• Almacenamiento y cifrado (AES) de correo electrónico<br>
                   • Construido en Amazon AWS para robustez, seguridad y escalabilidad, ideal para organizaciones desde PyMES hasta grandes corporativos<br>
                   • Cifrado TLS, desde su servidor de correo a la nube<br>
                   • Cifrado y contraseña de acceso hash para garantizar que sólo usted puede acceder a sus archivos</p>
                <p><strong>Cumplimiento</strong></p>
                <p>• Compatible con normativas legales<br>
                   • Sarbanes-Oxley / SOX / HIPPA<br>
                   • Políticas integrales de archivado; Políticas de retención de datos; Retención legal; Firma y verificación digital; Tagging.</p> 
                <p><strong>Gestión de correo electrónico completo</strong></p>
                <p>• E Discovery- Simple y/o granular; Opciones de búsqueda; Guardar; Buscar archivos adjuntos; importación masiva / restauración / print / borrar, etc.<br>
                • Auditoría de correo electrónico<br>
                • Retención de correo electrónico</p>
            	<img align="left" src="{{ asset('bundles/app/style/images/hdmexico_arctitan_presentacion_1.png')}}" >
            </td>
            <td width="5%">&nbsp;</td>
		</tr>
	</table>

    </div>

  </article>			

  <hr /><!-- #primary -->

</div><!-- #main -->

{% endblock %}


