{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | Blog</title>
{% endblock %}



{% block body %}

<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>

<div id="main">

<div id="primary">
  <div id="content" role="main"><!-- begin article -->
  <article class="page hentry">
  	<header class="entry-header">
		<h1 class="entry-title">HD México Blog</h1>
		<h1 class="entry-title"><br>
		  </h1>
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
    
    	<div class="one-third">
    		<p><img src="{{ asset('bundles/app/style/images/hdmexico-cifrado.jpg') }}" alt="" class="aligncenter" />
	    </div>
		<div class="two-third last">
			<h1>Cifrado: clave  para la protección de datos</h1>
		    <p>abril 1,  2014			</p>
		   <p>El robo de  información es una amenaza constante en las empresas. La ciberdelincuencia  constituye un ámbito delictivo donde cada vez más delincuentes aprovechan las  tecnologías de la información, el anonimato y la rapidez, para llevar a cabo  diversos tipos de actividades delictivas como robo de identidad, ataques contra  sistemas y datos informáticos, intrusión, phishing, etc.</p>
		   <p>El alcance  global de Internet permite a los ciberdelincuentes perpetrar documentos vulnerables  de las organizaciones. Toda empresa que maneje datos sensibles como bases de  datos, información bancaria y financiera, planes de trabajo o archivos  confidenciales, deben contemplar un plan de protección de la información y de  continuidad del negocio que le permita hacer frente a este tipo de situaciones.</p>
		   <p>Se estima que  a nivel mundial, en el 2013 más de 550 millones de usuarios fueron víctimas de  robo de información, lo cual significa que uno de cada diez ha padecido los  estragos de la delincuencia informática. Estas cifras representan un incremento  del 75% de los ataques a nivel mundial en el último año; Tan sólo en México se  calculan pérdidas de dos mil millones de dólares en el año.</p>
		   <p>Vale la pena  destacar el manejo de los datos por parte de los empleados, es necesario  generar conciencia sobre la importancia del resguardo de los documentos, los  sitios web en los que se navega, la información que es descargada, así como la  protección de la información en laptops, smartphones y tablets, puesto que es frecuente  que estos equipos se utilicen fuera de la oficina.</p>
		   <p>A fin de  disminuir el robo de información, las empresas deben considerar la  implementación de medidas de seguridad que se ajusten a sus necesidades.</p>
		   <p>Cifrar el disco duro de los equipos y celulares  de la red empresarial. El traslado en la vía pública de laptops, tabletas o  smartphones conlleva el riesgo de robo de las mismas, en éste caso, sería  imposible para el delincuente acceder a los datos de la empresa. Una  herramienta de cifrado como DESlock+ le permitirá codificar la información  almacenada en distintos soportes y dispositivos para protegerla ante pérdida o  robo</p>
           <p>DESlock+ es  una sencilla aplicación para el cifrado de datos, destinada a pequeñas y  grandes empresas. DESlock+ cuenta con el respaldo del galardonado proveedor de  soluciones de seguridad ESET, quien garantiza la máxima protección contra todo  tipo de amenazas que intenten robar información.</p>
           <p>DESlock+  permite cifrar por completo el disco de los equipos, utilizando distintos  algoritmos de cifrado, evitando que cualquier tercero no habilitado acceda a la  información almacenada. El usuario, entonces, deberá definir una contraseña de  seguridad para poder iniciar el sistema operativo y tener acceso a la  información en cuestión.</p>
           <p>Otra de las  funcionalidades fundamentales de DESlock+ es la posibilidad de cifrar  dispositivos de almacenamiento masivo, de modo que si se extravían no se podrá  acceder a la información que se encuentre almacenada en éstos.</p>
           <p>La solución  de cifrado DESlock+ está disponible a través del mayorista HD México, con  atractivos planes de implementación que incluyen atención personalizada,  soporte técnico gratuito,  capacitación  constante y más. Para mayor información no dude en ponerse en contacto con nosotros.<br>
             <br>
             <strong>HD México<br>
              Mayorista en soluciones informáticas</strong><br>
             (55) 2455 5524 / 01 800 000 4369<br>
             <a data-cke-saved-href="mailto:contacto@hdmexico.com.mx" href="mailto:contacto@hdmexico.com.mx" target="_blank">contacto@hdmexico.com.mx</a><br>
             <a data-cke-saved-href="http://www.hdmexico.com.mx" href="http://www.hdmexico.com.mx/" target="_blank">www.hdmexico.com.mx</a></p>
		   <h3>+ Info<br>
	        <img src="{{ asset ('bundles/app/style/images/hdmexico-deslock.jpg')}}" width="60%">		   <br>
		   </h3>
		   <p>Ver más sobre <a href="edeslock.htm">DESlock+</a><br>
		     Conoce más sobre las soluciones antimalware <a data-cke-saved-href="http://www.hdmexico.com.mx/eset-productos.htm" href="eset-productos.htm" target="_blank">ESET</a><br>
		     Consulta más consejos de seguridad en <a data-cke-saved-href="http://www.hdmexico.com.mx/blog.htm" href="blog.htm" target="_blank">nuestro blog</a><br>
		     Descarga las <a data-cke-saved-href="http://www.hdmexico.com.mx/blog.htm" href="blog.htm" target="_blank">Infografías</a><br>
		     Conoce los beneficios de las soluciones <a data-cke-saved-href="http://www.hdmexico.com.mx/pres-eset-home.htm" href="pres-eset-home.htm" target="_blank">ESET para Hogar</a> | <a data-cke-saved-href="http://www.hdmexico.com.mx/pres-eset-business.htm" href="pres-eset-business.htm" target="_blank">ESET para Empresas</a><br>
	        Visita <a data-cke-saved-href="http://www.hdmexico.com.mx" href="http://www.hdmexico.com.mx/" target="_blank">www.hdmexico.com.mx</a></p>
		   <p>&nbsp;</p>
		   <p>&nbsp;</p>
		</div>
		<div class="clear"></div>

 	</div>
<div class="entry-content">
    
    	<div class="one-third">
    		<p><img src="{{ asset('bundles/app/style/images/hdmexico-claves.jpg') }}" alt="" class="aligncenter" />
	    </div>
		<div class="two-third last">
			<h1>8 Claves para una navegación segura</h1>
		    <p>marzo 18, 2014			</p>
		   <p> El riesgo de ser víctima de una amenaza en Internet crece en la medida que la cyber delincuencia evoluciona. Aprenda más acerca de la tecnología que usa todos los días y conozca las buenas prácticas que aseguren que una experiencia en línea sea segura. Estos son algunos consejos acerca de cómo proteger la privacidad mientras navega o se comunica en Internet.</p>
		   <p>1. Mantener actualizado el sistema operativo, así como todas  las demás aplicaciones del sistema.</p>
		   <p>2. Leer los contratos de licencia de las aplicaciones para  evitar la instalación de aplicaciones potencialmente indeseables (PUA).</p>
		   <p>3. Elegir passwords de mayor longitud, que contengan  caracteres alfanuméricos y símbolos.</p>
		   <p>4. Evitar descargar e instalar programas de sitios que no  sean oficiales.</p>
		   <p>5. No responder aquellos correos o publicaciones, entre  otros, que hagan alusión a concursos, premios, o peticiones de ayuda de dudosa  procedencia.</p>
		   <p>6. Recuerde que ninguna institución bancaria, solicita  información sensible a través de medios como la web, correo electrónico, o  redes sociales.</p>
		   <p>7. Evitar compartir información personal como, dirección,  teléfono, etc. en las redes sociales.</p>
		   <p>8. Instalar un programa antivirus, firewall o una solución  de seguridad integral como las multipremiadas soluciones de ESET.</p>
		   <p>Contar con una solución antivirus en tu computadora no sólo reduce el riesgo de cualquier tipo de amenaza, sino también navegar en Internet de forma segura.<br>
		     <br>
		     Para mayor información no dude en ponerse en contacto con nosotros.<br>
		     <br>
		     <strong>HD México<br>
		     Mayorista en soluciones informáticas</strong><br>
		     (55) 2455 5524 / 01 800 000 4369<br>
		     <a data-cke-saved-href="mailto:contacto@hdmexico.com.mx" href="mailto:contacto@hdmexico.com.mx" target="_blank">contacto@hdmexico.com.mx</a><br>
	        <a data-cke-saved-href="http://www.hdmexico.com.mx" href="http://www.hdmexico.com.mx/" target="_blank">www.hdmexico.com.mx</a></p>
		   <h3>+ Info<br>
		     <img align="none" data-cke-saved-src="https://gallery.mailchimp.com/4b24542c159788801c49850c5/images/cajas-eset.jpg" height="147" src="style/images/cajas-eset.jpg" width="202"></h3>
		   <p>Conoce más sobre las soluciones antimalware <a data-cke-saved-href="http://www.hdmexico.com.mx/eset-productos.htm" href="eset-productos.htm" target="_blank">ESET</a><br>
		     Consulta más consejos de seguridad en <a data-cke-saved-href="http://www.hdmexico.com.mx/blog.htm" href="blog.htm" target="_blank">nuestro blog</a><br>
		     Descarga las <a data-cke-saved-href="http://www.hdmexico.com.mx/blog.html" href="blog.html" target="_blank">Infografías</a><br>
		     Conoce los beneficios de las soluciones <a data-cke-saved-href="http://www.hdmexico.com.mx/pres-eset-home.htm" href="pres-eset-home.htm" target="_blank">ESET para Hogar</a> | <a data-cke-saved-href="http://www.hdmexico.com.mx/pres-eset-business.htm" href="pres-eset-business.htm" target="_blank">ESET para Empresas</a><br>
	        Visita <a data-cke-saved-href="http://www.hdmexico.com.mx" href="http://www.hdmexico.com.mx/" target="_blank">www.hdmexico.com.mx</a></p>
		</div>
		<div class="clear"></div>

 	</div>
    <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  

  
  </div><!-- #content -->
</div><!-- #primary -->


</div><!-- #main -->
{% endblock %}
