{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | Nuestros canales</title>
{% endblock %}

{% block body %}

<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>


<div id="main">
<div id="primary">
  <div id="content" role="main">
    <!-- begin article -->
  <article class="post hentry format-image">
  	<header class="entry-header">
		<h1 class="entry-title">Nuestros canales</h1>
    	<!-- .entry-meta -->
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
      <div class="full-size">
      	<img src="{{ asset('bundles/app/style/images/hdmexico-carrera-por-la-seguridad.jpg') }}" alt="" /></div>
      <table width="100%" border="0">
        <tr>
          <td width="10%">&nbsp;</td>
          <td width="30%"><p>Habeas Data México ha obtenido un crecimiento significativo en la industria de Seguridad Integrada, generando una creciente demanda de los clientes que cada día son más exigentes y selectivos en cuanto a la seguridad de su Patrimonio que son sus empresas. Por lo anterior nos hemos dado a la tarea de implementar soluciones más robustas, de mayor respuesta y que son integrales, por lo cual contamos con el apoyo de diferentes marcas de proveedores y soluciones especializadas en las áreas que corresponden a la seguridad, como Antivirus, firewall, antispam, correo electrónico, web, respaldo de información y recuperación ante desastres.</p>
            <p>Sin importar a que se dedique tu cliente, en HD México encontrarás la solución ideal para la protección de datos, recuperación ante desastres, seguridad perimetral, seguridad antimalware, asistencia remota a equipos, comunicación online, filtrado de contenidos y de correo electrónico, así como soluciones de administración de cumplimiento y seguridad de la información para métodos de pago y corporaciones en general.</p></td>
          <td width="10%">&nbsp;</td>
          <td width="40%"><h3><strong>Registro</strong></h3>
            <p>&nbsp;</p>
            <p><?php
if (!isset($_POST['email'])) {
?>
  <form method="post" action="php/send.php">
									<div>
										<div class="row">
											<div class="6u">
												<input type="text" name="name" id="name" placeholder="Nombre y apellido" />
											</div>
											<div class="6u">
												<input type="text" name="email" id="email" placeholder="Correo electrónico" />
											</div>
											<div class="6u">
												<input type="text" name="city" id="email" placeholder="Ciudad" />
											</div>
                                            <div class="6u">
												<input type="text" name="phone" id="email" placeholder="Teléfono" />
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<input type="text" name="subject" id="subject" placeholder="Producto de interés" />
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<textarea name="message" id="message" placeholder="Mensaje"></textarea>
											</div>
										</div>
										<div class="row double">
											<div class="12u">
												<ul class="actions">
													<li><input type="submit" value="Enviar" /></li>
													<li><input type="reset" value="Limpiar" class="alt" /></li>
												</ul>
											</div>
										</div>
									</div>
								</form>
</td>
          <td width="10%">&nbsp;</td>
        </tr>
  </table>
    </div>
  </article>			
  <hr /><!-- #primary -->
</div><!-- #main -->
{% endblock %}

