{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | Capacitaciones</title>
{% endblock %}





{% block body %}

<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>


<div id="main">
<div id="primary">
  <div id="content" role="main">
  <!-- begin article -->
  <article class="post hentry format-image">
  	<header class="entry-header">
		<h1 class="entry-title">Programa de capacitación para canales</h1>
   <!-- .entry-meta -->
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
      <div class="full-size">
      	<img src="{{ asset ('bundles/app/style/images/capacitaciones.jpg')}}" alt="" /></div>
     <table width="100%" border="0">
        <tr>
          <td width="10%">&nbsp;</td>
          <td width="30%"><p>Para HD México los canales son un eslabón importante en el desarrollo del negocio, por tanto, es vital ofrecer las mejores herramientas para satisfacer las necesidades del mercado. A fin de cubrir esa meta, HD México, a través del &ldquo;Programa de capacitación para canales&rdquo; ofrece capacitación técnica y comercial para brindar una mejor asesoría sobre las funcionalidades de nuestras soluciones.</p>
            <p>En HD México partimos del argumento de que al afianzar la relación con los clientes, con un mejor servicio y una mejor atención se configura un valor agregado para su negocio. </p>
            <h3>Contenido de las capacitaciones</h3>
            <p>Los cursos serán impartidos vía webinar a través de ISL Online, y brindados sobre demanda en función de las necesidades de su empresa. </p>
            <p>En las sesiones se compartirán novedades de los productos, herramientas comerciales, materiales gráficos y de apoyo  para el mejor desarrollo de nuestros socios, además de asesoría sin costo y precios especiales.          </p></td>
          <td width="10%">&nbsp;</td>
          <td width="40%">
          <h3>Cursos disponibles</h3>
          <p>Los cursos serán   divididos por cada una de las marcas de nuestro portafolio:</p>
          <p>:: <strong>ESET</strong> | Soluciones de seguridad informática para todos los entornos</p>
          <p>:: <strong>SpamTitan</strong> | Filtrado de correo electrónico empresarial</p>
          <p>:: <strong>WebTitan</strong> | Filtrado de contenido web</p>
          <p>:: <strong>ISL Online</strong> | Comunicación online para soporte, acceso y atención a clientes</p>
          <p>:: <strong>Warriors</strong> | Seguridad informática integral para todos los entornos</p>
          <p>:: <strong>Ultrabac</strong> | Respaldo y recuperación ante desastres</p>
          <p>Para solicitar algun curso, póngase en contacto con nuestros ejecutivos y con gusto programamos la sesión que le interese para el desarrollo de su negocio.          </p>
          <p>(55) 2455 5584 | 01800 000 4369<br>
            contacto@hdmexico.com.mx</p></td>
          <td width="10%">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td colspan="3"><h3>Beneficios adicionales</h3>
            <p>Recuerde que su participación es muy importante para nosotros, y la asistencia en las capacitaciones acumulan puntos para nuestros programas: </p>
            <table width="100%" border="0">
              <tr>
                <td width="50%"><a href="http://www.hdmexico.com.mx/canales/carrera.htm" target="_blank"><img src="{{ asset('bundles/app/style/images/carrera.jpg') }}"></a></td>
                <td width="50%"><a href="http://hdlatinoamerica.com/optimum/" target="_blank"><img src="{{ asset('bundles/app/style/images/optimum.jpg') }}"></a></td>
              </tr>
            </table>
            </td>
          <td>&nbsp;</td>
        </tr>
     </table>
    </div>
    <div class="map full"></div>          
  </article>
  <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  

  
  </div><!-- #content -->
</div><!-- #primary -->


</div><!-- #main -->
{% endblock %}

	