{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | Contacto</title>
{% endblock %}



{% block body %}
<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>




<div id="main">
<div id="primary">
  <div id="content" role="main">
    <!-- begin article -->
  <article class="post hentry format-image">
  	<header class="entry-header">
		<h1 class="entry-title">Contacto</h1>
    <!-- .entry-header -->
    
    <div class="entry-content">
      <table width="100%" border="0">
        <tr>
          <td width="25"><h3>
            <script type="text/javascript" src="http://islpronto.islonline.net/live/islpronto/public/chat.js?d=HDMEXICO&lang=es"></script>
            </h3>
            <h3>Chat Online</h3>
            
<a id="islpronto_link" href="mailto:soporte@hdmexico.com.mx"><img width="240" height="142" style="border:none" title="Chat en vivo" id="islpronto_image" alt="Live Chat" src="http://hdmexico.com.mx/soporte_files/islpronto-message.jpg"/></a>
<script type="text/javascript" src="http://islpronto.islonline.net/live/islpronto/public/chat.js?d=HDMEXICO&lang=es"></script></td>
          <td width="54%"><p><strong>            Habeas Data México S.A. de C.V.<br>
            </strong>Mayorista en soluciones informáticas</p>
            <p>Viaducto Río Becerra 168<br>
              San Pedro de los Pinos<br>
              Benito Juárez, 03800,<br>
              Distrito Federal, México</p>
            <p>(55) 2455 5524<br>
              01800 000 4369</p>
            <p>              contacto@hdmexico.com.mx<br>
              soporte@hdmexico.com.mx</p>
            <p>facebook.com/HabeasDataMx<br>
              twitter.com/HabeasDataMx</p></td>
          <td width="10%">&nbsp;</td>
        </tr>
      </table>
    </div>
    <div class="map full">
    	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d940.8555814828887!2d-99.1812186!3d19.3941503!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff7ae7571973%3A0xa6f2d3bd68ef206a!2sViaducto+R%C3%ADo+Becerra+16!5e0!3m2!1ses!2smx!4v1399306550011" width="1040" height="350" frameborder="0" style="border:0"></iframe>
    </div>          
  </article>
  <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  

  
  </div><!-- #content -->
</div><!-- #primary -->


</div><!-- #main -->
{% endblock %}