{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | ESET Descargas para Hogar</title>
{% endblock %}


{% block body %}

<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>

<div id="main">

<div id="primary">

  <div id="content" role="main">

    <!-- begin article -->

  <article class="post hentry format-image">

  	<header class="entry-header">

		<h1 class="entry-title">ESET Descargas para hogar</h1>

    	<!-- .entry-meta -->

    </header>

    <!-- .entry-header -->

    

    <div class="entry-content">

      <div class="full-size">

      	<img src="{{ asset('bundles/app/style/images/hdmexico-eset-deshome.jpg')}}" alt="" /></div>

          <!--TYPO3SEARCH_begin-->

<link rel="stylesheet" type="text/css" href="./style/script_desplegable/screen_6d455c7f17_minify__merged.css" media="screen">

  <script type="text/javascript" src="./style\script_desplegable/ebacc5180d_minify__merged.js"></script>

  <meta name="viewport" content="width = 630, user-scalable = yes">

<body><div id="icon-mouseover-hover-opacity-helper" class="icon-mouseover-hover-opacity"></div>

  <div style="position:absolute;"></div>



<div id="website" class="clearfix">

  <div id="content" class="clearfix">

  <div class="gradient-box box-element clearfix" id="c3995">

    <div class="accordion">

      <h1 class="csc-firstHeader"><a href="javascript:return false;" class="">Soluciones para Windows</a></h1>

    <div id="c4005" class="csc-default" style="display: none;"><table width="100%" border="0">

  <tr>

    <td colspan="2"><h3>32 bit</h3></td>

  </tr>

  <tr>

    <td width="80%">ESET Smart Security      <br />

    Microsoft® Windows® Home Server/8.1/ 8/7/Vista/XP<br />

    Version: 7.0.302.26, Tamaño de archivo: 69.8 MB, <a href="http://download.eset.com/manuals/eset_ess_7_userguide_esl.pdf" target="_blank" onclick="window.open(this.href);return false;">Manual</a></td>

    <td width="20%"><a href="http://download.eset.com/download/win/ess/ess_nt32_esl.msi" target="_blank">Descarga</a></td>

  </tr>

  <tr>

    <td>ESET NOD32 Antivirus      <br />

    Microsoft® Windows® Home Server/8.1/ 8/7/Vista/XP<br />

    Version: 7.0.302.26, Tamaño de archivo: 62,5 MB, <a href="http://download.eset.com/manuals/eset_eav_7_userguide_esl.pdf" target="_blank" onclick="window.open(this.href);return false;">Manual</a></td>

    <td><a href="http://download.eset.com/download/win/eav/eav_nt32_esl.msi" target="_blank">Descarga</a></td>

  </tr>

  <tr>

    <td colspan="2"><h3>64 bit</h3></td>

  </tr>

  <tr>

    <td>ESET Smart Security      <br />

    Microsoft® Windows® 8.1/ 8/7/Vista/XP    <br />

    Version: 7.0.302.26, Tamaño de archivo: Size: 77.9 MB, <a href="hhttp://download.eset.com/manuals/eset_ess_7_userguide_esl.pdf" target="_blank" onclick="window.open(this.href);return false;">Manual</a></td>

    <td><a href="http://download.eset.com/download/win/ess/ess_nt64_esl.msi" target="_blank">Descarga</a></td>

  </tr>

  <tr>

    <td>ESET NOD32 Antivirus      <br />

    Microsoft® Windows® 8.1/ 8/7/Vista/XP    <br />

    Version: 7.0.302.26, Tamaño de archivo: 69.6 MB, <a href="http://download.eset.com/manuals/eset_eav_7_userguide_esl.pdf" target="_blank" onclick="window.open(this.href);return false;">Manual</a></td>

    <td><a href="http://download.eset.com/download/win/eav/eav_nt64_esl.msi" target="_blank">Descarga</a></td>

  </tr>

</table>

</div>

</div></div>

  

  <div class="gradient-box box-element clearfix" id="c4002">

    <div class="accordion">

      <h1 class="csc-firstHeader"><a href="javascript:return false;" class="">Soluciones para Mac</a></h1>

    <div id="c4005" class="csc-default" style="display: none;"><table width="100%" border="0">

  <tr>

    <td width="80%">ESET Cyber Security      <br />

      OS X 10.6.x (Snow Leopard)/<br />

    OS X 10.9.x (Mavericks)/ OS X 10.8.x (Mountain Lion)/ OS X 10.7.x (Lion)    <br />

    Version: 5.0.115.0, Tamaño de archivo: 54.2 MB, <a href="http://download.eset.com/manuals/eset_ecs_5_userguide_esl.pdf" target="_blank" onclick="window.open(this.href);return false;">Manual</a></td>

    <td width="20%"><a href="http://download.eset.com/download/mac/ecs/eset_cybersecurity_es_LA.dmg" target="_blank">Descarga</a></td>

  </tr>

  <tr>

    <td>ESET Cyber Security Pro      <br />

      OS X 10.6.x (Snow Leopard)/<br />

    OS X 10.9.x (Mavericks)/ OS X 10.8.x (Mountain Lion)/ OS X 10.7.x (Lion)    <br />

    Version: 5.0.115.0, Tamaño de archivo: 53.1 MB, <a href="http://download.eset.com/manuals/eset_ecsp_5_userguide_esl.pdf" target="_blank" onclick="window.open(this.href);return false;">Manual</a></td>

    <td><a href="http://download.eset.com/download/mac/ecsp/eset_cybersecurity_pro_es_LA.dmg" target="_blank">Descarga</a></td>

  </tr>

</table></div></div></div>

  

  <div class="gradient-box box-element clearfix" id="c4006">

    <div class="accordion">

      <h1 class="csc-firstHeader"><a href="javascript:return false;" class="">Soluciones  para Linux</a></h1>

    <div id="c4009" class="csc-default" style="display: none;"><table width="100%" border="0">

  <tr>

    <td width="80%">ESET NOD32 Antivirus 4 para Linux Desktop (32 bit)<br />

    Red Hat/Mandriva/SUSE/Debian/Ubuntu/Fedora<br />

    Version: 4.0.81.0, Tipo de archivo: .exe, Tamaño de archivo: 45.3 MB, <a href="http://download.eset.com/manuals/eset_eav_lin_4_userguide_esl.pdf" target="_blank" onclick="window.open(this.href);return false;">Manual</a></td>

    <td width="20%"><a href="http://download.eset.com/download/unix/eav/eset_nod32av_32bit_es_la.linux" target="_blank">Descarga</a></td>

  </tr>

  <tr>

    <td>ESET NOD32 Antivirus 4 para Linux Desktop (64 bit)<br />

    Red Hat/Mandriva/SUSE/Debian/Ubuntu/Fedora<br />

    Version: 4.0.81.0, Tipo de archivo: .exe, Tamaño de archivo: 45.6 MB, <a href="http://download.eset.com/manuals/eset_eav_lin_4_userguide_esl.pdf" target="_blank" onclick="window.open(this.href);return false;">Manual</a></td>

    <td><a href="http://download.eset.com/download/unix/eav/eset_nod32av_64bit_es_la.linux" target="_blank">Descarga</a></td>

  </tr>

</table></div></div></div>

  

  <div class="gradient-box box-element clearfix" id="c4011">

    <div class="accordion">

      <h1 class="csc-firstHeader"><a href="javascript:return false;">Soluciones  para moviles</a></h1>

    <div id="c4014" class="csc-default" style="display: none;"><table width="100%" border="0">

  <tr>

    <td width="80%">ESET Mobile Security para Smartphones      <br />

    Microsoft Windows Mobile 5.0 (On device without touchscreen)    Version: 1.3.1670.0, Tipo de archivo: .exe, Tamaño de archivo: 450 kB, <a href="http://download.eset.com/manuals/eset_emswm_userguide_esn.pdf" target="_blank" onclick="window.open(this.href);return false;">Manual</a></td>

    <td width="20%"><a href="http://www.eset.com/?osid=45&amp;fileid=6211&amp;fam=217" target="_blank">Descarga</a></td>

  </tr>

  <tr>

    <td>ESET Mobile Security para Smartphones      <br />

    Microsoft Windows Mobile 5.0 (Via PC to device without touchscreen)    Version: 1.3.1670.0, Tipo de archivo: .cab, Tamaño de archivo: 538.8 kB, <a href="http://download.eset.com/manuals/eset_emswm_userguide_esn.pdf" target="_blank" onclick="window.open(this.href);return false;">Manual</a></td>

    <td><a href="http://www.eset.com/?osid=35&amp;fileid=6209&amp;fam=217" target="_blank">Descarga</a></td>

  </tr>

  <tr>

    <td>ESET Mobile Security para PocketPC      <br />

    Microsoft Windows Mobile 6.0/ 6.1/ 6.5 (On Device with touchscreen)    Version: 1.3.1670.0, Tipo de archivo: .exe, Tamaño de archivo: 448.9 kB, <a href="http://download.eset.com/manuals/eset_emswm_userguide_esn.pdf" target="_blank" onclick="window.open(this.href);return false;">Manual</a></td>

    <td><a href="http://www.eset.com/?osid=44&amp;fileid=6228&amp;fam=217">Descarga</a></td>

  </tr>

  <tr>

    <td>ESET Mobile Security para PocketPC      <br />

    Microsoft Windows Mobile 6.0/ 6.1/ 6.5 (Via PC to device with touchscreen)    Version: 1.3.1670.0, Tipo de archivo: .cab, Tamaño de archivo: 537.8 kB, <a href="http://download.eset.com/manuals/eset_emswm_userguide_esn.pdf" target="_blank" onclick="window.open(this.href);return false;">Manual</a></td>

    <td><a href="http://www.eset.com/?osid=33&amp;fileid=6224&amp;fam=217">Descarga</a></td>

  </tr>

  <tr>

    <td>ESET Mobile Security para Symbian      <br />

    Symbian® S60 3rd Edition (Feature Pack 1 or 2) y S60 5th Edition    Version: 1.3.2, Tipo de archivo: .sis, Tamaño de archivo: 1.30 MB, <a href="http://download.eset.com/manuals/eset_ems_sb_userguide_esn.pdf" target="_blank" onclick="window.open(this.href);return false;">Manual</a></td>

    <td><a href="http://download.eset.com/download/mobile/ems/eset_mobile_security_symbian.sis">Descarga</a></td>

  </tr>

  <tr>

    <td>ESET Mobile Security para Android 2.3 +      <br />

    Symbian® S60 3rd Edition (Feature Pack 1 or 2) y S60 5th Edition    Version: 2.0.843.0, Tipo de archivo: .apk, Tamaño de archivo: 6.1 MB, <a href="http://download.eset.com/manuals/eset_ems_an_2_userguide_esl.pdf" target="_blank" onclick="window.open(this.href);return false;">Manual</a></td>

    <td><a href="http://www.eset.com/us/download/thank-you-ems/file/9573/">Descarga</a></td>

  </tr>

</table></div></div></div>

                        

</div>

<div id="bottom-chrome" style="display: none;">

        <div id="bottom-chrome-arrow">

          <img src="./style/script_desplegable/green-arrow-trans.png" align="bottom">

        </div>

        <div id="bottom-chrome-end">

        </div>

      </div>

<!--TYPO3SEARCH_end-->

    </div>

  </article>			

  <hr /><!-- #primary -->

</div><!-- #main -->

{% endblock %}