{% extends '::base_app.html.twig' %}
{% block title %}

<title>HD México | ESET Cyber Security Pro</title>
{% endblock %}



{% block body %}
<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>


<div id="main">

<div id="primary">

  <div id="content" role="main">

    <!-- begin article -->

  <article class="post hentry format-image">

  	<header class="entry-header">

		<h1 class="entry-title">ESET Cyber Security Pro</h1>

    	<!-- .entry-meta -->

    </header>

    <!-- .entry-header -->

    

    <div class="entry-content">

      <div class="full-size">

      	<img src="{{asset ('bundles/app/style/images/hdmexico-eset-cyber-security-pro.jpg') }}" alt="" /></div>

      <table width="100%" border="0">

        <tr>

          <td width="10%">&nbsp;</td>

          <td width="30%"><p>Protección inteligente para Mac OS<br>

            ESET Cyber Security Pro agrega una capa más de seguridad a tu Mac, protegiéndola contra todo tipo de amenazas, tanto las que fueron diseñadas para Mac, como aquellas que son específicas para plataformas Windows. Además permite proteger a tus hijos del contenido inapropiado que podrían acceder. </p>

            <p><strong>Por qué ESET para tu Mac</strong><br>

              Actualmente, ningún sistema operativo es 100% seguro frente a las amenazas en constante evolución que se encuentran estos tiempos. ESET diseñó una solución antivirus multiplataforma que proporciona protección para diversos sistemas operativos.<br>

              ESET Cyber Security para Mac protege tu equipo e información no solo de ataques directos a tu sistema operativo sino también evitando la posibilidad de actuar como un portador de malware de una plataforma a otra, por ejemplo al utilizar redes compartidas.</p>

            <h5>Requerimientos </h5>

            <p>Arquitectura de procesadores<br>

              Intel® de 32 bits, 64 bits <strong><br>

              </strong>Sistemas operativos<br>

              Mac OS X 10.6.x y posterior<strong><br>

              </strong>Memoria<br>

              512 MB<strong><br>

              </strong>Espacio libre en disco<br>

              150 MB</p></td>

          <td width="10%">&nbsp;</td>

          <td width="40%"><h3>Funciones principales </h3>

            <p><strong>Detección Inteligente<br>

              </strong>ESET Cyber Security Pro detecta automáticamente y elimina todo tipo de códigos maliciosos. Utilizando avanzadas técnicas de heurística, la solución de ESET para Mac ofrece protección contra amenazas conocidas y desconocidas, la sofisticada detección genérica, es utilizada para detectar las variantes de las amenazas ya existentes.<br>

              <strong>Control Parental <br>

              </strong>Ahora podrás proteger a los más pequeños de la familia utilizando el Control Parental integrado en ESET Cyber Security Pro. Esta funcionalidad cuenta con más de 30 categorías, las cuales pueden ser asignadas a los distintos usuarios del equipo para permitir o denegar el acceso a ciertos contenidos.<br>

              <strong>Firewall Personal  </strong><br>

              ESET Cyber Security Pro incorpora un Firewall personal para protegerte de ataques que podrían provenir desde Internet o cuando te encuentres conectado a una red Wifi pública. Puedes bloquear todo tipo de conexiones o bien permitir solo algunas, ya sea por protocolos o aplicaciones.<br>

              <strong>Protección basada en la nube con ESET Live Grid<br>

              </strong>Ahora podrás analizar archivos utilizando una base que se encuentra disponible en la red, esta base registra los archivos analizados, por lo tanto cuando analices un archivo que previamente fue analizado, el tiempo de análisis se reducirá considerablemente. Adicionalmente podrás determinar si un archivo representa o no una amenaza antes de descargarlo.<br>

              <strong>Detección de amenazas multiplataforma<br>

              </strong>Además de detectar malware desarrollado exclusivamente para las plataformas Mac OS, ESET Cyber Security Pro para Mac es capaz de detectar y eliminar las amenazas informáticas específicas para Windows. Si bien estas amenazas no puedan perjudicar a los sistemas operativos Mac OS, pueden atacar sistemas basados en Windows dentro de la misma red.<br>

              <strong>Control de medios removibles<br>

              </strong>ESET Cyber Security Pro ofrece la posibilidad de crear reglas para bloquear medios extraíbles según el tipo de medio, el número de serie, el fabricante, el modelo, los parámetros del dispositivo (tamaño, cantidad de cabezales, sectores, etc.) o basándose en la ubicación de un archivo cifrado que identifique el dispositivo. Pueden configurarse los permisos como bloqueados, con acceso de solo lectura o con acceso de lectura y escritura, y también pueden definirse para un usuario específico o para grupos de usuarios<br>

            </p></td>

          <td width="10%">&nbsp;</td>

        </tr>

  </table>

    </div>

  </article>			

  <hr /><!-- #primary -->

</div><!-- #main -->

{% endblock %}