{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | ESET Endpoint Security</title>
{% endblock %}




{% block body %}

<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>



<div id="main">
<div id="primary">
  <div id="content" role="main">
    <!-- begin article -->
  <article class="post hentry format-image">
  	<header class="entry-header">
		<h1 class="entry-title">ESET Endpoint Security</h1>
    	<!-- .entry-meta -->
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
      <div class="full-size">
      	<img src="{{ asset('bundles/app/style/images/hdmexico-eset-endpoint-security.jpg')}}" alt="" /></div>
      <table width="100%" border="0">
        <tr>
          <td width="10%">&nbsp;</td>
          <td width="30%"><p>ESET Endpoint Security es la solución estrella de la nueva generación de soluciones de ESET destinadas para empresas. <br>
            Basada en el núcleo de ESET NOD32 Antivirus, ofrece múltiples capas de detección de Malware utilizando el motor TheatSense® y la tecnología ESET Live Grid, el servicio de reputación de archivos basado en la nube.<br>
            ESET Endpoint Security incluye un Firewall personal, protección para clientes de correo electrónico incluyendo el bloqueo de correo SPAM y un poderoso filtrado de URL´s.
              <br>
              Incluye ESET Remote Administrator parala instalación remota y la administración de todos los clientes de la red desde una única consola central, además puede aplicar políticas de seguridad para mantener la máxima protección activa en sus clientes.</p>
            <p><strong>Tecnlogía ThreatSense de ESET<br>
            </strong>Detecta malware que otros productos antivirus pasan por alto y detiene los programas maliciosos emergentes en el momento en que son lanzados, no horas o días después. Es veloz y cuenta con la menor tasa de falsos positivos de la industria.<br>
            </p>
            <h5>Requerimientos </h5>
            <p>Microsoft® Windows® 8/7/Vista/XP/2000<br>
              400 MHz 32 bits/64 bits (x86/x64)<br>
              128 MB de RAM de memoria del sistema<br>
              130 MB de espacio disponible<br>
              Microsoft® Windows® 8/7/Vista/XP/2000<br>
              1 GHz 32 bits/64 bits (x86/x64)<br>
              512 MB de RAM de memoria del sistema<br>
              130 MB de espacio disponible</p></td>
          <td width="10%">&nbsp;</td>
          <td width="40%"><h3>Beneficios </h3>
            <p><strong>Mínimo impacto en el sistema<br>
              </strong>ESET Endpoint Security ha sido optimizado para adaptarse a cualquier entorno y sistema sobre el cual se instale.<br>
              <strong>Inicio de sistema mejorado<br>
              </strong>Las tareas de análisis en el inicio del sistema fueron optimizadas para no afectar el desempeño del sistema operativo, ejecutándose cuando los procesos y servicios se hayan cargado por completo y el consumo<br>
              de recursos del sistema se haya estabilizado.<br>
              <strong>Herramientas para el sistema</strong><br>
              ESET SysInspector simplifica el diagnóstico del sistema permitiendo la exploración profunda de los procesos del sistema para encontrar amenazas ocultas.<br>
              <strong>Apagar el sistema luego del análisis<br>
              </strong>Ahora los usuarios o administradores de red podrán<br>
              programar tareas de análisis personalizados con un parámetro especial para que el equipo se apague una vez que haya finalizado satisfactoriamente la tarea de análisis.</p></td>
          <td width="10%">&nbsp;</td>
        </tr>
  </table>
    </div>
  </article>			
  <hr /><!-- #primary -->
</div><!-- #main -->
	{% endblock %}