{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | ESET Mobile Security</title>
{% endblock %}




{% block body %}
<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>




<div id="main">

<div id="primary">

  <div id="content" role="main">

    <!-- begin article -->

  <article class="post hentry format-image">

  	<header class="entry-header">

		<h1 class="entry-title">ESET Mobile Security</h1>

    	<!-- .entry-meta -->

    </header>

    <!-- .entry-header -->

    

    <div class="entry-content">

      <div class="full-size">

      	<img src="{{asset('bundles/app/style/images/hdmexico-eset-mobile-security.jpg')}}" alt="" /></div>

      <table width="100%" border="0">

        <tr>

          <td width="10%">&nbsp;</td>

          <td width="30%">Solución de seguridad antivirus para dispositivos móviles<br>

            Desde revisar el correo electrónico hasta pagar las cuentas, los teléfonos inteligentes están llenos de funcionalidades sofisticadas que aumentan el riesgo de ataques cibernéticos. Bríndale a tu Smartphone y tablet la protección que merece.<br>

            <p>ESET Mobile Security ofrece el motor de heurística galardonado de ESET junto con una solución antispam y firewall para ofrecer protección en tiempo real contra las amenazas conocidas y emergentes - todo ello sin afectar al rendimiento. Y, si el dispositivo se pierde o es robado, ESET Mobile Security ofrece funcionalidades avanzadas anti-robo para ayudar a proteger y recuperar tu información.</p>

            <strong>Máxima protección para sus dispositivos<br>

            </strong>

            <p>Hoy en día los smartphones y tablets nos permiten realizar una gran cantidad de tareas, desde leer el correo electrónico, acceder a redes sociales hasta pagar servicios y acceder a Home Banking. Estas tareas implican nuevos riesgos, lo cuales debemos tomar en consideración.<br>

              ESET Mobile Security te permite disfrutar de tus tareas diarias sin tener que preocuparse por estas nuevas amenazas, deja que nuestra solución se encargue de cuidar lo más importante: tu información personal. Además en caso de pérdida o robo del dispositivo podrás rastrear tu equipo y resguardar tu información.</p>

            <h5>Requerimientos </h5>

            <p>Windows Mobile 5.0 y posterior<br>

              Sistema operativo Symbian S60 3ra Edición Feature Pack 1 o 2<br>

              Symbian S60 5ta Edición<br>

              Android 2.3 y posteriores <br>

              12 Mb de memoria <br>

              Pantala de 240x320 Px <br>

              Procesador de 500 Mhz</p></td>

          <td width="10%">&nbsp;</td>

          <td width="40%"><h3>Funciones principales </h3>

            <p><strong>Protección contra todo tipo de amenazas<br>

              </strong>Analiza todos los archivos en el dispositivo incluso aquellos que ingresan por conexiones inalambricas (Bluetooth, Wi-Fi, etc.)<br>

              <strong>Firewall Inteligente<br>

              </strong>Monitorea todas las comunicaciones entrantes y salientes en función de un conjunto de reglas que tú puede definir para prevenir las intrusiones no deseadas.<br>

              <strong>Antispam para SMS, MMS y llamadas*<br>

              </strong>Permite escoger quiénes son tus contactos confiables, los cuales son personalizables a través de listas blancas o negras, o simplemente bloqueando los números desconocidos.<br>

              *El antispam para llamadas solo está disponible en la versión para Android<br>

              <strong>Protege tu información<br>

              </strong>En caso de pérdida o robo del dispositivo bloquea el acceso al mismo o bien, mediante un comando remoto, borra toda la información almacenada.<br>

              <strong>Protección de la tarjeta SIM</strong><br>

              Crea una lista de tarjetas SIM de confianza para cada dispositivo. En caso de una inserción de una tarjeta SIM no autorizada, se le notificará automáticamente por un mensaje de texto que contiene el IMSI y el número de teléfono, de manera que puedas localizar a los autores.<br>

              <strong>Cuarentena</strong> <br>

              Elige entre eliminar infiltraciones de inmediato, aislándolos o restaurando objetos que determines como seguros.<br>

              <strong>Auditoría de seguridad</strong>  <br>

              Ejecuta auditorías completamente bajo demanda o programa los controles de todas las funciones vitales del teléfono, incluyendo el nivel de batería, la conectividad Bluetooth, la visibilidad del dispositivo, el espacio libre en disco y procesos en ejecución, y a continuación, te permite tomar medidas inmediatas de ser necesario.</p></td>

          <td width="10%">&nbsp;</td>

        </tr>

  </table>

    </div>

  </article>			

  <hr /><!-- #primary -->

</div><!-- #main -->
{% endblock %}