{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | ESET NOD32 Antivirus</title>
{% endblock %}



{% block body %}
<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>



<div id="main">

<div id="primary">

  <div id="content" role="main">

    <!-- begin article -->

  <article class="post hentry format-image">

  	<header class="entry-header">

		<h1 class="entry-title">ESET NOD32 Antivirus</h1>

    	<!-- .entry-meta -->

    </header>

    <!-- .entry-header -->

    

    <div class="entry-content">

      <div class="full-size">

      	<img src="{{asset('bundles/app/style/images/hdmexico-eset-nod32-antivirus.jpg')}}" alt="" /></div>

      <table width="100%" border="0">

        <tr>

          <td width="10%">&nbsp;</td>

          <td width="30%"><p>ESET NOD32 Antivirus ofrece una protección rápida, efectiva y sencilla de utilizar sin entorpecer tus tareas cotidianas y sin afectar el rendimiento de tu equipo. La galardonada tecnología de detección proactiva de ESET detecta la mayoría de las amenazas conocidas y desconocidas que circulan por la red.</p>

            <p><img src="http://www.eset-la.com/images/landing/v7/new.png" width="64" height="15" alt="NUEVO"> <strong>Exploit blocker<br>

            </strong>Bloquea los ataques específicamente diseñados para evadir la detección antivirus. Protección ante ataques en navegadores Web, lectores de archivos PDF y otras aplicaciones.<br>

            <img src="http://www.eset-la.com/images/landing/v7/new.png" width="64" height="15" alt="NUEVO"> <strong>Exploración avanzada de memoria<br>

            </strong>Detecta códigos maliciosos  que utilizan varias capas de cifrado para ocultar su actividad y no ser detectados por soluciones de seguridad.</p>

            <h5>Requerimientos </h5>

            <p>Microsoft® Windows® XP <br>

400 MHz 32 bits (x86)/64 bits (x64) <br>

128 MB RAM de memoria del sistema<br>

320 MB de espacio disponible <br>

Microsoft® Windows®  8, 7, Vista, Home Server <br>

1 GHz 32 bits (x86) / 64 bits (x64) <br>

512 MB RAM de memoria del sistema <br>

320 MB de espacio disponible </p></td>

          <td width="10%">&nbsp;</td>

          <td width="40%"><h3>Funciones principales </h3>

            <p><strong>Anti–Phishing<br>

              </strong>Transacciones en línea de manera segura y evita que sitio fraudelentos obtengan tu información personal.<br>

              <strong>Social Media Scanner<br>

              </strong>El análisis de redes sociales  permite explorar toda la información que se publica en tu muro,  en busca de links que puedan contener algún tipo de amenaza para tu sistema.<br>

              <strong>Modo juego </strong><br>

              Característica para los jugadores que requieren utilizar el software en forma ininterrumpida, no desean que las ventanas emergentes los molesten y quieren minimizar el uso de la CPU. También se puede usar en presentaciones para evitar interrupciones.<br>

              <strong>Control avanzado de medios removibles<br>

              </strong>Permite definir qué tipo de dispositivos pueden ser utilizados o no dentro del equipo. Permite crear reglas para unidades USB, CD o Firewire entre otros, además de explorar los dispositivos en busca de amenazas.<br>

              <strong>Tecnología de Autodefensa<br>

              </strong>ESET NOD32 Antivirus incluye una tecnología integrada para prevenir que los programas maliciosos lo corrompan o deshabiliten, por lo tanto podrá estar tranquilo de que su computadora permanecerá siempre protegida.</p></td>

          <td width="10%">&nbsp;</td>

        </tr>

  </table>

    </div>

  </article>			

  <hr /><!-- #primary -->

</div><!-- #main -->
{% endblock %}