{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | ESET Remote Administrator</title>
{% endblock %}

{% block body %}
<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>

    <div id="main">
      <div id="primary">
         <div class="entry-content">
            <div class="full-size">
      	     <img src="{{ asset('bundles/app/style/images/hdmexico-eset-remote-administrator.jpg')}}" alt="" /></div>
             <table width="100%" border="0">
        <tr>
          <td width="10%">&nbsp;</td>
          <td width="30%"><p>Desde una única consola de administración remota, su administrador de IT puede explorar rápidamente las terminales, ajustar configuraciones de clientes, responder a eventos que amenacen la seguridad, actualizar bases de datos de firmas, generar informes, instalar y gestionar soluciones de ESET en clientes y servidores con plataformas Windows, Mac y Linux. <br>
            ESET Remote Administrator tiene un impacto mínimo en el sistema y cuenta con una gran capacidad de escalabilidad en entornos de administración por capas. <br>
            Con la consola de ESET Remote Administrator, es fácil lograr el cumplimiento de las políticas de seguridad, ya sea que se trate de una empresa pequeña o una gran corporación con sucursales en múltiples zonas horarias. <br>
            La migración a ESET hará de su empresa un lugar más seguro y le permitirá ahorrar el tiempo y dinero del sector de IT de su organización.</p>
            <p><strong>Web dashboard<br>
            </strong>Permite acceder desde cualquier navegador de Internet y monitorear el estado de la seguridad de la red en tiempo real, para ello podrá seleccionar entre más de 40 informes predeterminados para visualizar la información que crea más relevante dentro de su organización.</p>
            <h5>Requerimientos </h5>
            <p>- Arquitectura del procesador<BR>
            Intel o AMD x86-x64            <br>
            - Sistemas operativos <BR>
              Consola de ESET Remote Administrator 
              Sistemas operativos: Microsoft Windows® 7, Vista, XP, 2008 R2, 2008, 2003, 2000<br>
              - Servidor de ESET Remote Administrator 
              Microsoft Windows® 7, Vista, XP, 2008 R2, 2008, 2003, 2000<br>
              - Soporte para bases de datos <br>
                MySQL 5.0+, ORACLE 9i+, MSSQL 2005+<br>
                - Espacio en disco (para la descarga)<br>
                  Consola de ESET Remote Administrator 
                    <br>
                  15 MB Servidor de ESET Remote Administrator
                  <br>
                  46 MB<br>
                  - Bases de datos
                  Microsoft Access (integrada), MySQL 5.0, ORACLE 9i, MSSQL 2005<br>
                  - Windows Installer <br>
              2.0</td>
          <td width="10%">&nbsp;</td>
          <td width="40%"><h3>Beneficios </h3>
            <p><strong>Exploración antivirus remota<br>
              </strong>Los perfiles de exploración integrados y personalizados, compatibles con todas las plataformas, permiten realizar inspecciones de seguridad sistemáticas. Sin embargo, también se pueden iniciar sondeos rápidos y dirigidos a sectores específicos en cualquier momento para que se emitan informes precisos que pueden incluir información de todos los archivos inspeccionados de ser necesario.<br>
              <strong>Administración centralizada de cuarentena<br>
              </strong>Al lidiar con archivos infectados, la mejor práctica es involucrar la menor cantidad de gente posible. ESET Remote Administrator incluye una forma confiable para acceder a estas muestras directamente mediante la implementación de un sistema seguro de recopilación que puede transferir, eliminar y restaurar archivos de manera remota.<br>
              <strong>Instalación remota de soluciones ESET</strong><br>
              Instale de manera remota las soluciones de ESET sin importar si la plataforma de destinos es Windows, Linux o Mac. Además podrá administrar de manera completa todas las funcionalidades de la solución instalada.<br>
              <strong>Perfiles de acceso personalizables</strong><br>
              Permite crear múltiples perfiles de acceso a fin de customizar las tareas que realizan los administradores. De esta manera podríamos tener usuarios Operadores para realizar tareas básicas de mantenimiento, o bien usuario con mas privilegios para llevar a cabo tareas más complejas.<br>
              <strong>Actualizaciones seguras a través de HTTPS</strong><br>
              Los clientes actualizaran sus bases de firmas a través un protocolo seguro como lo es HTTPS.</p></td>
          <td width="10%">&nbsp;</td>
        </tr>
  </table>
    
  </article>			
  </div><!-- #primary -->
</div><!-- #main -->
{% endblock %}
	