{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | ESET Secure Authentication</title>
{% endblock %}



{% block body %}
<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>


<div id="main">

<div id="primary">

  <div id="content" role="main">

    <!-- begin article -->

  <article class="post hentry format-image">

  	<header class="entry-header">

		<h1 class="entry-title">ESET Secure Authentication</h1>

    	<!-- .entry-meta -->

    </header>

    <!-- .entry-header -->

    

    <div class="entry-content">

      <div class="full-size">

      	<img src="{{asset('bundles/app/style/images/hdmexico-eset-secure-authentication.jpg')}}" alt="" /></div>

      <table width="100%" border="0">

        <tr>

          <td width="10%">&nbsp;</td>

          <td width="30%">Conozca cómo proteger el acceso a lainformación de su negocio. ESET Secure Authentication proporciona acceso remoto seguro a la red y a los datos corporativos, pero sin complicaciones. Es una potente solución para móviles que se basa en la autenticación de 2 factores(2FA)con contraseña de un solo uso (OTP). Las OTP utilizadas se generan en forma aleatoria, por lo que no se pueden predecir ni volver a usar.<br>

            ESET Secure Authentication cuenta con soporte nativo para Outlook Web Access/App (OWA) para Microsoft Exchange 2007, 2010 y 2013. Es compatible con endpoints críticas: el Panel de control de Exchange, 2010, y el Centro de administración de Exchange, 2013.</td>

          <td width="10%">&nbsp;</td>

          <td width="40%">ESET Secure Authentication es compatible con endpoints críticas: el Panel de control de Exchange, 2010, y el Centro de administración de Exchange, 2013. <br>

            Se puede usar con una amplia gama de dispositivos VPN y herramientas corporativas, entre las que se incluyen Microsoft SharePoint y Microsoft Dynamics CRM. Fortalezca la protección de los datos confidenciales a los que se accede desde fuera de la empresa mediante el inicio de sesión en Acceso Web de Escritorio remoto o VMware Horizon View.<br>

Integre la solución con sus servicios basados en RADIUS o mediante una API con su autenticación existente basada en Active Directory. El SDK incorpora la solución a cualquier sistema propio, sin utilizar Active Directory.</p></td>

          <td width="10%">&nbsp;</td>

        </tr>

        <tr>

          <td>&nbsp;</td>

          <td colspan="3"><p><br>            

            <img src="{{asset ('bundles/app/style/images/hdmexico-eset-esa.png')}}" alt="Esquema de ESA"/></p>

            <p>&nbsp;</p></td>

          <td>&nbsp;</td>

        </tr>

        <tr>

          <td>&nbsp;</td>

          <td><h3>¿Por qué elegir la autenticación de dos factores de ESET?</h3>

            <p><strong>Resistente y sumamente sencilla</strong><br>

              Fácil instalación de un toque en el teléfono móvil o la tablet<br>

              <strong>Contraseñas de un solo uso</strong><br>

              Evita infiltraciones de seguridad mediante la validación de identidades            </p>            </li></td>

          <td>&nbsp;</td>

          <td><p><strong>Diseñado para  móvil

              </strong><br>

              Como no requiere hardware adicional, mantiene los costos bajos y a los usuarios felices <br>

              <strong>Cumplimiento con confianza</strong><br>

              Ayuda a las empresas a cumplir con las normativas de la industria como PCI-DSS/HIPAA | ISO 27001</li>

              <br>

              <strong>Diseñado para las empresas</strong><br>

              Las opciones de integración flexible ofrecen 2FA en todos los lugares donde se necesite proteger la identidad o las transacciones</h5>

            </p></td>

          <td>&nbsp;</td>

        </tr>

        <tr>

          <td>&nbsp;</td>

          <td>&nbsp;</td>

          <td>&nbsp;</td>

          <td>&nbsp;</td>

          <td>&nbsp;</td>

        </tr>

      </table>

    </div>

  </article>			

  <hr /><!-- #primary -->

</div><!-- #main -->
{% endblock %}
