{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | Productos ESET</title>
{% endblock %}

{% block body %}
<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>

<div id="main">
  <div id="primary">
    <div class="entry-content">
      <div class="full-size">
      	<img src="{{ asset('bundles/app/style/images/hdmexico-eset-empresas.jpg')}}" alt="" /></div>
      <table width="100%" border="0">
        <tr>
          <td>&nbsp;</td>
          <td colspan="3"><p><strong>Las soluciones de seguridad de ESET son fáciles de usar y encajan en forma perfecta en la infraestructura de IT para respaldar a una empresa en crecimiento.<br>
          </strong></p></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="10%">&nbsp;</td>
          <td width="30%"><h3>Endpoint solutions<br>
            <span style="font-family: Arial; font-size: small; "><span style="font-size: 10pt; "><span style="color: rgb(169, 169, 169);">ESET </span><span style="color: rgb(0, 51, 102); font-weight: bold; ">Endpoint Antivirus</span></span><br>
            </span><span style="font-family: Arial; font-size: small; "><span style="font-size: 10pt; "><span style="color: rgb(169, 169, 169);">ESET </span><span style="color: rgb(0, 51, 102); font-weight: bold; ">Endpoint Security</span></span><br>
            </span><span style="font-family: Arial; font-size: small; "><span style="font-size: 10pt; "><span style="color: rgb(169, 169, 169);">ESET </span><span style="color: rgb(0, 51, 102); font-weight: bold; ">Mobile Security</span></span><br>
            </span><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 8pt; "><a href="pres-eset-business.htm">Ver todos los productos</a></span><br>
        </h3>
            <h3>Server solutions<br>
              <span style="font-family: Arial; font-size: small; "><span style="font-size: 10pt; "><span style="color: rgb(169, 169, 169);">ESET </span><span style="color: rgb(0, 51, 102); font-weight: bold; ">Mail Security</span></span><br>
            </span><span style="font-family: Arial; font-size: small; "><span style="font-size: 10pt; "><span style="color: rgb(169, 169, 169);">ESET </span><span style="color: rgb(0, 51, 102); font-weight: bold; ">File Security</span></span><br>
            </span><span style="font-family: Arial; font-size: small; "><span style="font-size: 10pt; "><span style="color: rgb(169, 169, 169);">ESET </span><span style="color: rgb(0, 51, 102); font-weight: bold; ">Gateway Security</span></span><br>
          </span><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 8pt; "><a href="pres-eset-business.htm">Ver todos los productos</a></span></h3></td>
          <td width="10%">&nbsp;</td>
          <td width="40%"><h3>Authentication solutions<br>
            <span style="font-family: Arial; font-size: small; "><span style="font-size: 10pt; "><span style="color: rgb(169, 169, 169);">ESET </span><span style="color: rgb(0, 51, 102); font-weight: bold; ">Secure Authentication<br>
            </span></span></span><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 8pt; "><a href="esaut.htm">Ver todos los productos</a></span>            </h3>
            <h3>Cifrado<br>
              <span style="font-family: Arial; font-size: small; "><span style="font-size: 10pt; "><span style="color: rgb(0, 51, 102)">DESlock+</span></span><br>
          </span><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 8pt; "><a href="edeslock.htm">Ver todos los productos</a></span>            </h3>
            <h3>Packs de seguridad<br>
              <span style="font-family: Arial; font-size: small; "><span style="font-size: 10pt; "><span style="color: rgb(169, 169, 169);">ESET </span><span style="color: rgb(0, 51, 102); font-weight: bold; "> Business Security Solutions</span></span><br>
            </span><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 8pt; "><a href="eset-bss.htm">Ver todos los productos</a></span></h3></td>
          <td width="10%">&nbsp;</td>
        </tr>
  </table>
		<h1 class="entry-title">Soluciones  ESET para hogar</h1>
    	<!-- .entry-meta -->
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
      <div class="full-size">
      	<img src="{{asset('bundles/app/style/images/hdmexico-eset-home.jpg')}}" alt="" /></div>
      <table width="100%" border="0">
        <tr>
          <td>&nbsp;</td>
          <td colspan="3"><p><strong>Disfrute al máximo de internet con la mejor tecnología<br>
          </strong></p></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="10%">&nbsp;</td>
          <td width="30%"><h3>Soluciones para PC<br>
            <span style="font-family: Arial; font-size: small; "><span style="font-size: 10pt; "><span style="color: rgb(169, 169, 169);">ESET </span><span style="color: rgb(0, 51, 102)">Smart Security</span></span><br>
            </span><span style="font-family: Arial; font-size: small; "><span style="font-size: 10pt; "><span style="color: rgb(169, 169, 169);">ESET </span><span style="color: rgb(0, 51, 102); font-weight: bold;">NOD32 Antivirus</span></span></span><span style="font-family: Arial; font-size: small; "><br>
            </span><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 8pt; "><a href="ess.htm">Ver todos los productos</a></span><br>
        </h3>
            <h3>Soluciones para Mac<br>
              <span style="font-family: Arial; font-size: small; "><span style="font-size: 10pt; "><span style="color: rgb(169, 169, 169);">ESET </span><span style="color: rgb(0, 51, 102)">Cyber Security Pro</span></span><br>
            </span><span style="font-family: Arial; font-size: small; "><span style="font-size: 10pt; "><span style="color: rgb(169, 169, 169);">ESET </span><span style="color: rgb(0, 51, 102)">Cyber Security</span></span></span><span style="font-family: Arial; font-size: small; "><br>
          </span><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 8pt; "><a href="ecsp.htm">Ver todos los productos</a></span></h3></td>
          <td width="10%">&nbsp;</td>
          <td width="40%"><h3>Soluciones para móviles<br>
            <span style="font-family: Arial; font-size: small; "><span style="font-size: 10pt; "><span style="color: rgb(169, 169, 169);">ESET </span><span style="color: rgb(0, 51, 102); font-weight: bold; ">Mobile Security<br>
            </span></span></span><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 8pt; "><a href="ems.htm">Ver todos los productos</a></span>            </h3>
            <h3>Soluciones para linux<br>
              <span style="font-family: Arial; font-size: small; "><span style="font-size: 10pt; "><span style="color: rgb(169, 169, 169);">ESET </span><span style="color: rgb(0, 51, 102); font-weight: bold;">NOD32 Antivirus para Linux</span></span><br>
          </span><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 8pt; "><a href="ena.htm">Ver todos los productos</a></span></h3></td>
          <td width="10%">&nbsp;</td>
        </tr>
  </table>
    </div>
  </article>			
  <hr /><!-- #primary -->
</div><!-- #main -->
{% endblock %}