{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | ESET Business Security Solutions</title>
{% endblock %}

{% block body %}

<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>

<div id="main">

<div id="primary">
    <div class="entry-content">
      <div class="full-size">
      	<img src="{{asset ('bundles/app/style/images/hdmexico-eset-business-security-solutions.jpg')}}" alt="" /></div>
      <table width="100%" border="0">
        <tr>
          <td width="10%">&nbsp;</td>
          <td width="30%"><p>La completa protección que su empresa necesita. Proteja desde endpoints hasta servidores con una solución confiable para empresas con más de 25 equipos</p>
            <p>Más allá de que su empresa recién se esté creando o ya esté bien establecida, hay ciertas cosas que espera del software de seguridad que usa a diario. Para ESET,  la ejecución de un software de seguridad en el entorno corporativo debe ser fácil y sencillo. Por esa razón,  ESET Business Security Solutions, es el complemento perfecto para empresas de cualquier tamaño.</p></td>
          <td width="10%">&nbsp;</td>
          <td width="40%"><strong>3 buenas razones para confiar en ESET Business Security Solutions<br>
            </strong>
            <table width="100%" border="0">
              <tr>
                <td width="19%"><img src="http://www.eset-la.com/images/bundles/overview_files/a80cb20258.png"/></td>
                <td width="81%"><p>Compilación simple y directa</p></td>
              </tr>
              <tr>
                <td><img src="http://www.eset-la.com/images/bundles/overview_files/8b82e67a31.png"/></td>
                <td><p>Liviano para el sistema</p></td>
              </tr>
              <tr>
                <td><img src="http://www.eset-la.com/images/bundles/overview_files/7e772bf281.png"/></td>
                <td><p>Fácil de administrar</p></td>
              </tr>
          </table></td>
          <td width="10%">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td colspan="3"><img src="http://www.eset-la.com/images/bundles/Secure-business_02.jpg"/></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><p><strong>ESET Endpoint Protection Standard</strong><br>
            Mantenga la red desinfectada y proteja los endpoints (equipos, smartphones, tabletas y servidores de archivos) ante las amenazas emergentes y el robo de datos con soluciones de seguridad que se administran desde una única consola.</p>
            <p><strong>ESET Secure Business</strong><br>
              Proteja todos los equipos de escritorio, equipos portátiles, dispositivos móviles y servidores de archivos (y haga su Gateway de correo electrónico impenetrable, de forma que elimine todos los tipos de malware provenientes del correo electrónico en el nivel del servidor) antes de que puedan provocar algún daño.</p></td>
          <td>&nbsp;</td>
          <td><p><strong>ESET Endpoint Protection Advanced </strong><br>
            Además de las características de ESET Endpoint Protection Standard, la versión Advanced incluye un poderoso control Web, un firewall y un filtro antispam, que suministran capas adicionales de protección para la red corporativa y para los grupos de trabajadores móviles.</p>
            <p><strong>ESET Secure Enterprise</strong><br>
              Elija esta opción si tiene su propio servidor de puerta de enlace de Internet para proteger las comunicaciones HTTP y FTP. ESET Secure Enterprise proporciona el máximo nivel de protección para endpoints y servidores a través de distintas plataformas.</p>
            <p><strong>ESET Full Secure Enterprise</strong><br>
              Elija esta opción si tiene su propio servidor de puerta de enlace de Internet para proteger las comunicaciones HTTP y FTP y si desea obtener una solución integral que incluya no solo productos sino también servicios exclusivos de seguridad. ESET Full Secure Enterprise proporciona la combinación ideal entre el máximo nivel de protección para endpoints y servidores y consultoría por parte de los profesionales de seguridad de ESET Security Services.</p></td>
        </tr>
      </table>
    
  </article>			
  </div><!-- #primary -->
</div><!-- #main -->
{% endblock %}
	