{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | ESET Smart Security</title>
{% endblock %}

{% block body %}

<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>


<div id="main">

<div id="primary">

  <div id="content" role="main">

    <!-- begin article -->

  <article class="post hentry format-image">

  	<header class="entry-header">

		<h1 class="entry-title">ESET Smart Security</h1>

    	<!-- .entry-meta -->

    </header>

    <!-- .entry-header -->

    

    <div class="entry-content">

      <div class="full-size"><img src="{{asset('bundles/app/style/images/hdmexico-eset-smart-security.jpg') }}" alt="" /></div>

      <table width="100%" border="0">

        <tr>

          <td width="10%">&nbsp;</td>

        <tr>
          <td width="10%">&nbsp;</td>
          <td width="30%"><p>Desafía los límites de Internet, protegido por ESET Smart Security, la completa Solución de seguridad de ESET. Si pasas largas horas en Internet ya sea utilizando las redes sociales, realizando pagos en línea, haciendo compras o simplemente navegando, ESET Smart Security es la solución de seguridad ideal para ti. En una única solución encontrarás todas las funcionalidades para mantener tu vida en línea protegida.</p>
            <p><img src="http://www.eset-la.com/images/landing/v7/new.png" width="64" height="15" alt="NUEVO"> <strong>Exploit blocker<br>
            </strong>Bloquea los ataques específicamente diseñados para evadir la detección antivirus. Protección ante ataques en navegadores Web, lectores de archivos PDF y otras aplicaciones.<br>
            <img src="http://www.eset-la.com/images/landing/v7/new.png" width="64" height="15" alt="NUEVO"> <strong>Vulnerability Shield<br>
            </strong>Bloquea los ataques que intentan aprovechar las vulnerabilidades de la red.<br>
            <img src="http://www.eset-la.com/images/landing/v7/new.png" width="64" height="15" alt="NUEVO"> <strong>Exploración avanzada de memoria<br>
            </strong>Detecta códigos maliciosos  que utilizan varias capas de cifrado para ocultar su actividad y no ser detectados por soluciones de seguridad.</p>
            <h5>Requerimientos </h5>
            <p>Microsoft® Windows® XP <br>
400 MHz 32 bits (x86)/64 bits (x64) <br>
128 MB RAM de memoria del sistema<br>
320 MB de espacio disponible <br>
Microsoft® Windows®  8, 7, Vista, Home Server <br>
1 GHz 32 bits (x86) / 64 bits (x64) <br>
512 MB RAM de memoria del sistema <br>
320 MB de espacio disponible </p></td>
          <td width="10%">&nbsp;</td>
          <td width="40%"><h3>Funciones principales </h3>
            <p><strong>Anti-Theft<br>
            </strong>Permite proteger la información en caso de pérdida o robo del equipo. Bloquea el acceso a tu información privada, encuentra la ubicación del equipo cuando éste se conecta a Internet.<br>
            <strong>Control Parental </strong><br>
              Permite definir que contenidos podrán ser accedidos en Internet. Más de 20 categorías para definir accesos a sitios específicos.<br>
              <strong>Anti–Phishing<br>
              </strong>Transacciones en línea de manera segura y evita que sitio fraudelentos obtengan tu información personal.<br>
              <strong>Social Media Scanner<br>
              </strong>El análisis de redes sociales  permite explorar toda la información que se publica en tu muro,  en busca de links que puedan contener algún tipo de amenaza para tu sistema.<br>
              <strong>Firewall Personal </strong><br>
              Evita que intercepten  información y mantiene el  equipo invisible mientras está conectado en redes con WI-FI públicos. Define distintos perfiles para la conexión utilizada.<br>
              <strong>Antispam mejorado </strong><br>
              Se encarga de los  mensajes de correo no deseados con un filtro para spam veloz y eficaz. Se integra con los clientes de correo electrónico más populares, Windows Mail, Windows Live Mail y Mozilla Thunderbird.<br>
              <strong>Control avanzado de medios removibles<br>
              </strong>Permite definir qué tipo de dispositivos pueden ser utilizados o no dentro del equipo. Permite crear reglas para unidades USB, CD o Firewire entre otros, además de explorar los dispositivos en busca de amenazas.</p>
            <p><img src="{{asset('bundles/app/style/images/disponible.png')}}"></p></td>
          <td width="10%">&nbsp;</td>
        </tr>
  </table>
    </div>
  </article>			
  <hr /><!-- #primary -->
</div><!-- #main -->
{% endblock %}