<!DOCTYPE HTML>
<html lang="es-419">
<head>
<meta charset="utf-8">
<title>HD México | Prensa</title>






<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>
<!--[if IE 8]>

<![endif]-->
<!--[if IE 9]>

<![endif]-->







<script>
  
</script>
</head>
<body class="single singular">
<div id="page" class="hfeed">
<div id="wrapper">
<header id="branding" role="banner">
<h1 id="site-title"> 
  	<a href="index.html" title="HD México" rel="home">
  <img src="style/images/logo.png" alt="HD México" /><img src="style/images/marca2.png"></a></h1>
  <div class="social">
    <ul>
      <li><a href="https://www.facebook.com/HabeasDataMx" target="_blank"><img src="style/images/icon-facebook.png" alt="Facebook" /></a></li>
      <li><a href="https://twitter.com/HabeasDataMx" target="_blank"><img src="style/images/icon-twitter.png" alt="Twitter" /></a></li>
      <li><a href="http://www.slideshare.net/hdlatinoamerica" target="_blank"><img src="style/images/icon-slideshare.png" alt="Slide Share" /></a></li>
    </ul>
</div>
  <nav id="access" class="access" role="navigation">
        <div id="menu" class="menu">
        	<ul id="tiny">
				<li><a href="index.html">Home</a>
					<ul>
			            <li><a href="somos.htm">Nosotros</a></li>
                        <li><a href="contacto.htm">Contacto</a></li>
                        <li><a href="canales.htm">Canales</a></li>
                        <li><a href="blog.htm">Blog</a></li>
                        <li><a href="hdm-press.htm">Prensa</a></li>
                        <li><a href="mapa.htm">Mapa del sitio</a></li>
			        </ul>
				</li>
				<li><a href="spamtitan-presentacion.htm">SpamTitan</a>
                	<ul>
			            <li><a href="spamtitan-productos.htm">Productos</a>
							<ul>
                       			<li><a href="spamtitan-cloud.htm">SpamTitan Cloud</a></li>
                        		<li><a href="spamtitan-pcloud.htm">SpamTitan Private Cloud</a></li>
                       			<li><a href="spamtitan-gateway.htm">SpamTitan Gateway</a></li>
			        		</ul>
						</li>
                        <li><a href="spamtitan-esptec.htm">Especifícaciones técnicas</a></li>
                        <li><a href="spamtitan-download.htm">Descargas</a></li>
                        <li><a href="spamtitan-requerimientos.htm">Requerimientos</a></li>
                     </ul>
                </li>                  
				<li><a href="webtitan-presentacion.htm">WebTitan</a>
                	<ul>
			            <li><a href="webtitan-productos.htm">Productos</a>
							<ul>
                       			<li><a href="webtitan-cloud.htm">WebTitan Cloud</a></li>
                        		<li><a href="webtitan-wifi.htm">WebTitan Wi-Fi</a></li>
                       			<li><a href="webtitan-gateway.htm">WebTitan Gateway</a></li>
			        		</ul>
						</li>
                        <li><a href="webtitan-esptec.htm">Especifícaciones técnicas</a></li>
                        <li><a href="webtitan-download.htm">Descargas</a></li>
                        <li><a href="webtitan-requerimientos.htm">Requerimientos</a></li>
                     </ul>
                </li>
				<li><a href="arctitan-presentacion.htm">ArcTitan</a></li>
				<li><a href="isl-inicio.htm">ISL Online</a>
                	<ul>
			            <li><a href="isl-light.htm">Soporte Remoto</a></li>
						<li><a href="isl-alwayson.htm">Acceso Remoto</a></li>
                        <li><a href="isl-pronto.htm">Web Chat</a></li>
                        <li><a href="isl-groop.htm">Conferencia Web</a></li>
                       	<li><a href="isl-funciones.htm">Funciones</a></li>
                        <li><a href="isl-tools.htm">Tools</a></li>
                       	<li><a href="isl-descargas.htm">Descargas</a></li>
                    </ul>
                </li>
                <li><a href="trustwave.htm">Trustwave</a>
                	<ul>
			            <li><a href="trustwave-cumplimiento.htm">Cumplimiento</a></li>
                        <li><a href="trustwave-spiderlabs.htm">Spiderlabs</a></li>
                        <li><a href="trustwave-security.htm">Gestión de seguridad</a></li>
                     </ul>
                </li>
				<li><a href="ultrabac.htm">Ultrabac</a>
                	<ul>
			            <li><a href="ultrabac-ubdr.htm">Ultrabac UBDR Gold</a></li>
						<li><a href="ultrabac-bundle.htm">Ultrabac Ultimate Bundle</a></li>
                        <li><a href="ultrabac-requerimientos.htm">Requerimientos</a></li>
                        <li><a href="ftp://ftp.ultrabac.com/pub/ub_versions/current_release/ub9-eng.zip">Descarga</a></li>
                        <li><a href="style/docs/UB92-Manual.pdf">Manual de usuario</a></li>                        
                  	</ul>                
                </li>
				<li><a href="eset-productos.htm">ESET</a>
                	<ul>
			            <li><a href="pres-eset-business.htm">Soluciones corporativas</a>
                			<ul>                
 			            		<li><a href="eesecurity.htm">Seguridad para endpoints</a></li>
								<li><a href="eeantivirus.htm">Protección unificada</a></li>
                                <li><a href="eremotea.htm">Administración remota</a></li>
                                <li><a href="#.htm">Dispositivos móviles</a></li>
                                <li><a href="#.htm">Servidores de correo</a></li>
                                <li><a href="#.htm">Servidores de archivo</a></li>                                
                                <li><a href="#.htm">Servidores Gateway</a></li>
                                <li><a href="esaut.htm">Autenticación</a></li>
                                <li><a href="edeslock.htm">Cifrado</a></li>
                                <li><a href="eset-bss.htm">Protección integral</a></li>
                  			</ul>
                        </li> 
						<li><a href="pres-eset-home.htm">Soluciones hogar</a>
                			<ul>                
 			            		<li><a href="ess.htm">ESET Smart Security</a></li>
								<li><a href="ena.htm">ESET NOD32 Antivirus</a></li>
                                <li><a href="ecsp.htm">ESET Cybersecurity Pro para Mac</a></li>
                                <li><a href="ecs.htm">ESET Cybersecurity para Mac</a></li>
                                <li><a href="ems.htm">ESET Mobile Security</a></li>
                                <li><a href="efsp.htm">ESET Family Security Pack</a></li>
                  			</ul>                        
                        </li>
                        <li><a href="des-bs.htm">Descargas</a>
                			<ul>                
 			            		<li><a href="des-bs.htm">Soluciones corporativas</a></li>
								<li><a href="des-hm.htm">Soluciones para hogar</a></li>
                                <li><a href="des-gratuita.htm">Descarga TRIAL</a></li>
                  			</ul>
                		</li>
                        <li><a href="eset-vs.htm">Por qué elegir ESET</a></li>
                     </ul>
                 </li>
				 <li><a href="warriors-presentacion.htm">Warriors</a></li>
				 <li><a href="soporte.htm">Soporte</a></li>
				 <li><a href="contacto.htm">Contacto</a></li> 
        	</ul>
		</div>
  </nav>
		<div class="triangle-l"></div>
		<div class="triangle-r"></div>
  <!-- #access --> 
</header>
<!-- #branding -->
<div id="main">
<div id="primary">
  <div id="content" role="main">
    <!-- begin article -->
  <article class="post hentry format-image">
  	<header class="entry-header">
		<h1 class="entry-title">HD México Prensa</h1>
		<h1 class="entry-title"><br>
		  </h1>
    </header>
    <!-- .entry-header -->
    <div class="entry-content">


    
    	<div class="one-third">
    		<p><img src="style/images/hdmexico-feria.jpg" alt="" width="250" height="543" class="aligncenter" />
            <p><img src="style/images/hdmexico-feria1.jpg" alt="" width="250" height="543" class="aligncenter" />
	    </div>
		<div class="two-third last">
			<h1>HD México: una feria dentro de la Feria</h1>
	      <p>agosto, 2014			</p>
	      <p><em>La empresa mayorista consiguió el éxito esperado por la  originalidad de su stand, el cual sugirió </em><em>un concepto de feria tal y  como lo conocemos, con juegos y divertidas dinámicas  para sus visitantes.</em></p>
<p>Del 6 al 10 de agosto la  Feria Internacional de la Computación y Electrónica se realizó en el WTC de la  Ciudad de México con el propósito de acercar las nuevas tecnologías al mercado  consumidor, que año tras año es conquistado mediante la oferta de atractivas promociones  y precios de oportunidad.</p>
		   <p>Para la edición 2014 de  este evento se calculó una afluencia promedio de 200 mil visitantes, quienes en  tan solo cinco días pudieron conocer lo más reciente del mundo digital, aparte  de disfrutar la tecnología de realidad aumentada y las peripecias de los llamados &ldquo;drones&rdquo; o vehículos aéreos no  tripulados.</p>
		   <p>En cuanto  a la seguridad informática, uno de los sectores de mayor crecimiento de la  industria en los últimos años, sobresalió la propuesta del mayorista HD México,  en cuyo novedoso <em>stand</em><strong>&nbsp;</strong>pudo sugerir<strong> </strong>un  concepto de feria tal y como lo conocemos; incluso, montó un pequeño carrusel y  realizó varias dinámicas para agasajar a sus  visitas.</p>
          <p>Independientemente de  recibir valiosa información y  asesoría para una correcta selección de productos, el público en general se  quedó con un buen sabor de boca: &ldquo;Fue un excelente detalle el haber realizado  juegos de feria y colocado un carrusel para que los niños se divirtieran  mientras hacíamos nuestras compras&rdquo;, manifestó uno de los ahí presentes.
          </p>
          <p>La propuesta principal de HD México incluye SpamTitan (filtrado y  gestión de correo electrónico), WebTitan (filtrado de contenido web), Ultrabac  (respaldo continuo y protección ante desastres), la <em>suite</em> ISL Online (comunicación, soporte y acceso remoto) y  Trustwave para el cumplimiento de normativas de seguridad, aunque en la Feria  la empresa mayorista sólo manejó la galardonada línea de seguridad  informática&nbsp;ESET, así como la&nbsp;herramienta TuneUp Utilities 2014  diseñada para la optimización de PCs,&nbsp;<em>laptops</em>&nbsp;y&nbsp;<em>tablets</em>&nbsp;con Windows.</p>
          <p>&ldquo;Conocemos el perfil de los  visitantes a este tipo de eventos y decidimos seleccionar sólo un par de las  marcas que conforman nuestro catálogo, mismas que tienen una relación directa  con el tipo de productos que más se desplazan dentro de la Feria Internacional de la Computación y  Electrónica, y es que los usuarios siempre requerirán de soluciones de  seguridad informática y de herramientas para mantener sus equipos como nuevos  en términos de rendimiento&rdquo;, explicó Fausto Escobar, director general de HD  México. </p>
          <p>Sobre la idea de recrear una pequeña  feria, el directivo señaló: &ldquo;Cada año los expositores nos esforzamos para que  nuestros <em>stands</em> sobresalgan del resto  y llamen la atención de los visitantes, pero siempre me pregunté por qué a  nadie se le había ocurrido poner algo así cuando finalmente todo esto es una  feria. Quizá no haya descubierto el hilo negro, pero de que fue un éxito, ni  dudarlo&rdquo;. </p>
          <p>Por último Escobar refirió  que llevan ya varios años participando en esta expo-venta ya sea de manera  directa o con el apoyo de las marcas a las cuales representa el mayorista, pero  aclaró que los expositores deben aprovechar la inercia y no conformarse con el  registro de productos desplazados: &ldquo;Para nosotros las palabras mágicas son  &lsquo;seguimiento&rsquo; y &lsquo;servicios&rsquo;, y eso es justamente lo que nos ha diferenciado  como mayorista y lo que nos ha permitido conquistar una posición de privilegio  dentro del mercado. Ofrecemos la misma calidad de atención a todos, pues es  nuestro distintivo de valor y una inmejorable tarjeta de presentación para  nuestros futuros clientes&rdquo;, remató.</p>
          <p><strong>HD México<br>
	        Mayorista en soluciones informáticas</strong><br>
		     (55) 2455 5524 / 01 800 000 4369<br>
		     <a data-cke-saved-href="mailto:contacto@hdmexico.com.mx" href="mailto:contacto@hdmexico.com.mx">contacto@hdmexico.com.mx</a><br>
          <a data-cke-saved-href="http://www.hdmexico.com.mx" href="http://www.hdmexico.com.mx/" target="_blank">www.hdmexico.com.mx</a> </p>
             </p>
          <p><hr></p>
		</div>
	  </div>
    	<div class="one-third">
    		<p><img src="style/images/hdmexico-faustoescobar3.jpg" alt="" width="220" height="152" class="aligncenter" />
	    </div>
		<div class="two-third last">
			<h1>HD México lidera el Q2 en ventas para ESET</h1>
	      <p>julio, 2014			</p>
	      <p><em>“Todavía hay mucho mercado por atender y queremos compartir las oportunidades de negocio con quienes deseen integrarse a nuestros proyectos de seguridad”</em> Fausto Escobar.<br>
		   </p>
		   <p>El mayorista Habeas Data México recibió este mes un reconocimiento por parte de ESET al ser el asociado comercial que registró el mejor nivel de ventas del antivirus insignia de este proveedor durante el segundo trimestre del año.</p>
		   <p>“Este reconocimiento tiene una doble connotación para nosotros: por un lado, demuestra que los usuarios están asumido una postura más consciente con respecto al uso de soluciones de seguridad que cuenten con el respaldo de una marca o, en nuestro muy particular caso, que estén enriquecidas también por una sólida oferta de servicios y de atención”, indicó Fausto Escobar, director general de HD México.	      </p>
		   <p>“Por otro lado –añadió-, esta distinción nos sugiere una mayor confianza de parte de nuestros socios de canal, quienes juegan un importantísimo papel para el desplazamiento de productos y el posicionamiento de nuestra empresa en el mercado, y es que son ellos los que tienen una mayor cercanía con los usuarios finales y quienes de alguna manera han sabido aprovechar ese cambio de mentalidad”.	       </p>
		   <p>Son varios los comparativos independientes y estudios de prestigiadas consultoras tecnológicas los que posicionan hoy en día a ESET como uno de los más importantes proveedores de seguridad informática en el país, de cuya oferta sobresale el ESET NOD32 Antivirus, sobre todo por su capacidad de detección de malware (alcanza un 98% de todos los virus existentes en la actualidad) y por utilizar métodos muy eficaces de eliminación con un bajo consumo de recursos y memoria RAM; de hecho, esta solución optimiza el funcionamiento y otorga más velocidad a los equipos.	       </p>
		   <p>Cabe mencionar también que ESET  es el líder mundial de los premios “VB100” otorgados por <em>Virus Bulletin</em> y ha ganado más distinciones que cualquier otro producto de la competencia. <br>
	      </p>
		   <p><strong>Por más canales</strong><br>
Escobar reconoció que no ha sido fácil permear una nueva  cultura de la seguridad entre los usuarios, aunque poco a poco los productos de  marca han ido arrebatando terreno a las soluciones gratuitas que se descargan  de Internet: &ldquo;Todavía falta mucho por hacer en ese sentido, apero los números  demuestran que estamos haciendo bien las cosas y que vamos por el camino  correcto&rdquo;. Sin mencionar nombres, el directivo refirió que tanto ESET  como HD México han notado &ldquo;titubeos&rdquo; de sus más cercanos competidores,  situación que el mayorista aprovechará para sumar más asociados de negocio:  &ldquo;Queremos invitar a los distribuidores e integradores de TI a que prueben los  productos de la marca, no sólo para conocer su calidad o ventajas técnicas sino  para descubrir que con ellos pueden hacer excelentes negocios, pues manejamos  precios competitivos y además ofrecemos valores agregados que reforzarán sus  argumentos comerciales y su lealtad hacia nosotros, como lo son la calidad de  nuestros servicios postventa, los descuentos por volumen, la capacitación  constante, la asignación y respeto de cuentas, las campañas de fidelidad y  muchos diferenciadores más que conforman nuestro actual programa de canales&rdquo;,  enfatizó.</p>
		   <p>Finalmente agradeció el reconocimiento que ESET le otorgó a su compañía:  &ldquo;Todos los logros que HD México ha alcanzado son producto del trabajo de  nuestra gente y de nuestros socios del canal. Todavía hay mucho mercado por  atender y queremos compartir las oportunidades de negocio con quienes deseen integrarse  a nuestros proyectos de seguridad. Como mayoristas estamos creciendo, pero  queremos que más asociados participen de ese desarrollo&rdquo;, remató.	      </p>
		   <p>Contacto: Lic. Rocío Sánchez, directora comercial de HD México<br>
		     rsanchez@hdmexico.com.mx <br>
	      </p>
	      <p><strong>HD México<br>
	        Mayorista en soluciones informáticas</strong><br>
		     (55) 2455 5524 / 01 800 000 4369<br>
		     <a data-cke-saved-href="mailto:contacto@hdmexico.com.mx" href="mailto:contacto@hdmexico.com.mx">contacto@hdmexico.com.mx</a><br>
	         <a data-cke-saved-href="http://www.hdmexico.com.mx" href="http://www.hdmexico.com.mx/" target="_blank">www.hdmexico.com.mx</a>            </p>
             </p>
	        <p><hr></p>
		</div>
		</div>        
		<div class="clear"></div>

    
    	<div class="one-third">
    		<p><img src="style/images/hdmexico-faustoescobar.jpg" alt="" width="200" height="300" class="aligncenter" />
	    </div>
		<div class="two-third last">
			<h1>HD México. Seguimiento y valor agregado en la industria TIC</h1>
	      <p>mayo-junio, 2014			</p>
	      <p><em>El término en latín habeas data está íntimamente ligado a los aspectos jurídicos de los derechos y protección de la información, y su significado refleja el espíritu de trabajo que HD México tiene para con sus clientes, según explica Fausto Escobar, director general de la empresa mayorista, quien además subraya que para hacer la diferencia ante los retos que la región enfrenta es imperativo contar con el apoyo de un proveedor de clase mundial.</em><br>
	        Bárbara Gaxiola | Redacción | Mundo TI

		   </p>
	      <p>MTi: ¿Cuáles son los retos que enfrentarán  los países latinoamericanos en materia de competitividad?</p>
		   <p>FE: Generalizando en la región, la competitividad sigue  estando marcada por el conocimiento y por asumir la necesidad de proteger  nuestra información. La cultura en este aspecto es importante y seguir  promoviéndola es uno de nuestros objetivos; así, el desafío está en poder integrar  a este conocimiento las herramientas de seguridad más adecuadas, eficientes e  innovadoras.<strong></strong><br>
		     Las  posibilidades de&nbsp;negocio&nbsp;para quienes se&nbsp;dedican a comercializar  e implementar la tecnología informática son amplias, pues tienen la alternativa  de&nbsp;promover&nbsp;soluciones adaptables a&nbsp;los requerimientos&nbsp;de  cada cliente;&nbsp;nos referimos a herramientas que permiten la protección de  los datos críticos y&nbsp;favorecen&nbsp;la continuidad y el desarrollo de las  organizaciones.</p>
		   <p>MTi: ¿Qué nivel tienen México y la región latinoamericana  en cuanto a implementación de TI en proyectos innovadores que ayuden a alcanzar  los objetivos de negocio de una empresa?<br>
		     FE: Consideramos  que los puntos de vista pueden ser variados en ese aspecto, por lo cual sólo  podemos hablar de percepciones. Algunos países -como México o Chile, por  ejemplo- muestran un mayor grado de madurez con respecto a la implementación de  tecnologías y están incrementando su nivel de exigencia abriendo la puerta a  soluciones innovadoras.<br>
		     Todavía se  presentan, sin embargo, iniciativas incipientes en el resto de los países, las  que por lo menos se apegan a soluciones que van cubriendo las necesidades  iniciales; a pesar de ello, se percibe un gran interés y avance general con  respecto al propósito de automatizar procesos en todos los casos.<br>
		     Nos  encontramos muy optimistas en cuanto al nivel de conocimiento que los usuarios  en México tienen acerca del uso de nuevas tecnologías debido a un avance en la  investigación y al desarrollo de nuevos campos, aparte de que percibimos una  mayor conciencia sobre la prevención de riesgos, incluida la seguridad de los datos  críticos, el respaldo continuo, la detección oportuna de amenazas y cualquier  situación que pudiera poner en riesgo la integridad de la información.</p>
		   <p>MTI: ¿Cómo podría influir en los próximos  años el uso de plataformas en la seguridad y automatización de las PyME y los  grandes corporativos?<br>
		     FE: Es indudable  que cada implementación tecnológica marca un camino nuevo en materia de TI y,  en ese sentido, el futuro es realmente prometedor. Las PyME y los grandes  corporativos avanzan en esta línea, por lo que estamos seguros de que veremos importantes  logros en cada vez menos tiempo.<br>
		     También tenemos  la certeza de que la seguridad de activos e información es un factor vital para  la evolución de la industria, pero no necesariamente es el único; la  innovación, la aceptación y la adopción de las nuevas tecnologías por parte de  todo tipo de usuarios es igualmente una tarea fundamental.<br>
		     El aporte  que las tecnologías brindan al desarrollo de nuestro día a día es lo que sin  duda ha determinado su actual posición estratégica. El uso de aplicativos de  alta calidad muestra la evolución de la demanda y además existe la necesidad de  no sólo cubrir lo básico sino también de mejorar lo ya existente.</p>
		   <p>MTI: Algunos aplicativos hacen la  diferencia...<br>
		     FE: Ciertamente,  los aplicativos que se sumen a la protección de las distintas capas de la red  son los que hacen y harán la diferencia en el terreno de la seguridad. Hoy en  día desde un servidor hasta un dispositivo móvil, pasando por las PC, los servidores  de correo, los gateways, ﬁrewalls, etc., requieren de protección  y se suman a este entorno de seguridad.</p>
		   <p>MTI: ¿Cuáles son los diferenciadores que  atraerán la atención de los usuarios en esta materia?<br>
		     FE: Insistimos  en que la educación en el ámbito de la seguridad, sumado a la oferta de aplicaciones  fáciles de usar y accesibles para los usuarios, es lo que logra llamar la  atención de quienes eligen y adoptan este tipo de soluciones.<br>
		     Hablamos de  que las principales industrias están acercándose a las tecnologías innovadoras  para acceder a mejores plataformas y aplicativos de TI; entre éstas podemos  mencionar a las entidades ﬁnancieras, bancarias, petroleras, de comunicaciones  o mineras, justamente aquéllas que manejan información cada vez más sensible y  buscan tecnologías nuevas y más evolucionadas para protegerse.<br>
		     El panorama  que vislumbro a corto plazo en el mercado de la seguridad y los dispositivos involucrados  se relaciona con el hecho de que hoy en día todo está orientado a la  portabilidad y las comunicaciones, así que cualquier producto o servicio que se  vincule con estas dos áreas es y será, de  facto, el foco para la protección de los datos que procesan.</p>
		   <p>MTI: ¿Cómo podría definir el camino al  éxito de su compañía?<br>
		     FE: La política  de crecimiento es la que manejamos desde el inicio de nuestra existencia como  empresa: calidad y servicios de primer nivel para nuestros clientes y socios de  negocio son aspectos que además se traducen en capacitación, soporte técnico y  seguimiento óptimo para lograr la satisfacción completa.<br>
		     Ofrecemos a  nuestros clientes elementos de valor agregado como entrenamiento, soporte,  servicios de calidad, atención personalizada, áreas de investigación y, por  supuesto, el acceso a tecnologías reconocidas y líderes en el mercado. La alta  disponibilidad de las soluciones, los servicios personalizados y de primer  nivel, nuestra cultura de capacitación continua, el ofrecimiento de una  excelente relación costo-beneﬁcio y la certeza de garantizar un ROI  satisfactorio son los factores que han contribuido a nuestro posicionamiento en  el sector de la seguridad en el ámbito local y regional.<br>
		     Continuaremos con nuestra estrategia de brindar  la mejor respuesta a las cada vez más cambiantes necesidades de las organizaciones,  y es que siempre hemos trabajado en función del mercado, de nuestros clientes y  de nuestros asociados de negocio; la meta es ir un paso adelante ofreciendo las  tecnologías más actuales y acordes a las exigencias de cada usuario, llámense  SoHo, PyME o grandes corporativos, aparte de que actualmente brindamos  servicios de valor a las instituciones de gobierno y corporativos más  importantes en México, lo cual pretendemos replicar en el mercado  latinoamericano.</p>
		   <p>Leer reportaje original en PDF <a href="http://mundoti.net/revista/wp-content/uploads/2011/10/MundoTI_44_Mayo_2014.pdf" target="_blank">aqui</a><br>
	       <a href="http://mundoti.net/revista/wp-content/uploads/2011/10/MundoTI_44_Mayo_2014.pdf" target="_blank"><img src="style/images/referencias_buttons.png" alt="Ver PDF" width="10" height="10"></a><br>
	      </p>
	      <p><strong>HD México<br>
	        Mayorista en soluciones informáticas</strong><br>
		     (55) 2455 5524 / 01 800 000 4369<br>
		     <a data-cke-saved-href="mailto:contacto@hdmexico.com.mx" href="mailto:contacto@hdmexico.com.mx">contacto@hdmexico.com.mx</a><br>
	         <a data-cke-saved-href="http://www.hdmexico.com.mx" href="http://www.hdmexico.com.mx/" target="_blank">www.hdmexico.com.mx</a>            </p>
             </p>
	      <p><hr></p>
		</div>
		<div class="clear"></div>
    <div class="entry-content">
    	<div class="one-third">
    		<p><img src="style/images/hdmexico-nota-esetrewards.jpg" alt="" width="200" height="150" class="aligncenter" />
	    </div>
		<div class="two-third last">
			<h1>ESET reconoce a HD México como El Mejor Partner de Latinoamérica</h1>
	      <p>mayo 19, 2014			</p>
		   <p>Como resultado del programa regional de recompensas ESET Rewards Latam, correspondiente al primer cuatrimestre del 2014, Habeas  Data México recibió el reconocimiento como El Mejor Partner de Latinoamérica. “El esfuerzo, compromiso y otros valores que pregonamos día a día en nuestro trabajo han rendido sus frutos, lo cual se demuestra con el galardón que nos acaba de otorgar este fabricante, con quien hemos podido establecer una provechosa mancuerna de negocios desde octubre del 2005”, destacó Fausto Escobar, Director General de la empresa mayorista.<br>
		   </p>
		   <p>Añadió que las renovaciones, asociadas a la calidad de servicios, permitieron a su compañía alcanzar un importante registro de ventas, lo mismo que su compromiso de atención efectiva en la preventa y la postventa, “factores todos que definen nuestra filosofía de trabajo y que siempre procuramos permear entre nuestros clientes, ya sean activos o prospectos”. <br>
	      </p>
		   <p>Por su parte, Guillermo Ochoa, Channel Manager de ESET en México, fue el encargado de entregar la distinción, oportunidad que el directivo de Habeas Data aprovechó para expresar que “nuestro país se cuece aparte, pues a pesar de que el programa ESET Rewards Latam se dirigió inicialmente a los mercados de Argentina, Bolivia, Chile, Colombia, Ecuador, Panamá, Paraguay, Perú, República Dominicana y Venezuela para luego extenderse al resto de la región, lo cierto es que como empresa mayorista hemos vivido con ESET una historia compartida de éxitos desde hace casi nueve años”.<br>
	      </p>
		   <p>HD México es una compañía especializada en la oferta de tecnologías de seguridad informática, comunicaciones y optimización de equipos de cómputo, la que en su carácter de mayorista procura promover relaciones sanas de negocio y de largo plazo con su vasta red de canales comerciales, por lo que Escobar hizo extensivo a estos últimos el reconocimiento otorgado por el fabricante. <br>
		   </p>
		   <p> “Este logro se alcanzó gracias al aporte de todos nuestros asociados y, por eso, trabajamos también en consolidar nuestra relación con ellos; de hecho, son los primeros a los que orientamos nuestros servicios, capacitaciones, apoyo técnico y demás iniciativas. Como mayorista, sabemos que nuestros canales merecen este reconocimiento, el cual compartimos también con todos los que trabajan con la marca ESET dentro de la familia HD”, concluyó.<br>
	      </p>
		   </p>
<p><a href="http://www.securitic.com.mx/mayoristas/956-eset-reconoce-a-hd-mexico-como-el-mejor-partner-de-latinoamerica" target="_blank"><img src="style/images/referencias-buttons.png" alt="" width="10" height="10" longdesc="style/images/referencias-buttons.png"></a> <a href="http://itwarelatam.com/2014/05/19/eset-reconoce-a-hd-mexico/" target="_blank"><img src="style/images/referencias-buttons.png" alt="" width="10" height="10" longdesc="style/images/referencias-buttons.png"></a> <a href="http://esemanal.mx/2014/05/eset-reconoce-a-hd-mexico/" target="_blank"><img src="style/images/referencias-buttons.png" width="10" height="10"></a></p>
<p><strong>HD México<br>
	        Mayorista en soluciones informáticas</strong><br>
		     (55) 2455 5524 / 01 800 000 4369<br>
		     <a data-cke-saved-href="mailto:contacto@hdmexico.com.mx" href="mailto:contacto@hdmexico.com.mx">contacto@hdmexico.com.mx</a><br>
	         <a data-cke-saved-href="http://www.hdmexico.com.mx" href="http://www.hdmexico.com.mx/" target="_blank">www.hdmexico.com.mx</a>            </p>
             </p>
	      <p><hr></p>
		</div>
		<div class="clear"></div>    
    
    	<div class="one-third">
    		<p><img src="style/images/hdmexico-faustoescobar2.jpg" alt="" width="250" height="180" class="aligncenter" />
	    </div>
		<div class="two-third last">
			<h1>Garanticemos la seguridad de los datos con soluciones de cifrado
</h1>
	      <p>mayo, 2014<br>
Carlos Soto | SecuriTIC</p>
		   <p>En su edición número 11 correspondiente al mes a mayo, la revista mexicana <em>SecuriTIC</em> publicó el reportaje titulado “<em>Garanticemos la seguridad de los datos con soluciones de cifrado</em>”, en el que importantes ejecutivos de la industria tecnológica resaltaron la necesidad de proteger la información vital que tanto usuarios individuales como empresariales manejan o tienen almacenada en sus equipos de comunicación y de trabajo, llámense teléfonos celulares, tablets, computadoras portátiles o de escritorio, entre otros.</p>
		   <p>Varios de los personajes entrevistados coincidieron en que las soluciones de cifrado son una excelente opción para proteger tales equipos, pues aunque los hackers o atacantes obtengan archivos e información confidencial de los mismos no les serán de utilidad si no pueden descifrarla.	      </p>
		   <p>Aparte de sus posturas y recomendaciones alrededor de este tema, los expertos participantes en este trabajo editorial aprovecharon la ocasión para describir la oferta que sus respectivas empresas manejan como parte de su portafolio de soluciones para el cifrado de datos.	      </p>
		   <p>En su oportunidad, el director general de HD México, Fausto Escobar, explicó que el cifrado es necesario para toda empresa que maneja “datos sensibles”, los que por su importancia y valor siempre están expuestos a ser perpetrados.	      </p>
		   <p>A continuación transcribimos íntegramente el resto de las aportaciones del directivo de HD México:	      </p>
		   <p>En un mundo en el que lo inmediato predomina y la necesidad de la movilidad se convierte en algo cada vez más recurrente, el traslado en la vía pública de laptops, tabletas o smartphones conlleva el riesgo de robo de las mismas. Cifrar la información en estos dispositivos permite que ésta sea inaccesible si no se cuenta con los datos de descifrado que genera y administra la empresa; por tanto, es ineludible el uso de estas tecnologías para proteger el disco duro de los equipos, correos electrónicos y celulares de la red empresarial.	      </p>
		   <p>Actualmente HD México tiene disponible la solución de cifrado de DESlock+, que es uno de los componentes de la ESET Technology Alliance, creada con el objetivo de mejorar la protección corporativa mediante una serie de soluciones de seguridad informática. La intención es proteger al cliente mediante la combinación de la tecnología de ESET con otros productos que constituyen los mejores en su campo.	      </p>
		   <p>Aunque la mayoría de las grandes empresas o corporativos son los usuarios tradicionales de las soluciones de cifrado, también pueden ser implementadas en pequeñas y medianas empresas, incluso en el segmento de hogar, ya que existe una versión personal gratuita de DESlock+ que protege un solo dispositivo.	       </p>
	      <p>Cabe destacar que el mayorista tiene disponible un curso de capacitación sobre DESlock+ en el que se abordan las principales funcionalidades, bondades del producto y formatos de implementación. El curso puede ser abordado por personal técnico o comercial. También se ofrecen atractivos planes de implementación que incluyen atención personalizada, soporte técnico gratuito, capacitación constante y más.</p>
	      <p>Más información en www.hdmexico.com.mx/edeslock.htm<br>
	        Contacto: Lic. Rocío Sánchez, directora comercial de HD México<br>
	        rsanchez@hdmexico.com.mx
          </p>
		   <p>Ver la nota completa <a href="http://www.securitic.com.mx/securitic/11/Securitic-011.html" target="_blank">aqui</a><br>
	      <a href="http://www.securitic.com.mx/securitic/11/Securitic-011.html" target="_blank"><img src="style/images/referencias-buttons.png" alt="" width="10" height="10" longdesc="style/images/referencias-buttons.png"></a></p>
<p><strong>HD México<br>
	        Mayorista en soluciones informáticas</strong><br>
		     (55) 2455 5524 / 01 800 000 4369<br>
		     <a data-cke-saved-href="mailto:contacto@hdmexico.com.mx" href="mailto:contacto@hdmexico.com.mx" target="_blank">contacto@hdmexico.com.mx</a><br>
          <a data-cke-saved-href="http://www.hdmexico.com.mx" href="http://www.hdmexico.com.mx/" target="_blank">www.hdmexico.com.mx</a>            </p>
             </p>
	      <p><hr></p>
		</div>
		<div class="clear"></div>
    <div class="entry-content">
    
    	<div class="one-third">
    		<p><img src="style/images/hdmexico-nota-carrera2014.jpg" alt="" width="200" height="137" class="aligncenter" />
	    </div>
		<div class="two-third last">
			<h1>Inicia HD México Carrera por la Seguridad Informática en su edición 2014</h1>
		    <p>marzo 18, 2014			</p>
		   <p>HD México anuncia el inicio de la 2da Edición de la Carrera por la Seguridad Informática, la cual promueve el conocimiento, desarrollo y crecimiento de los canales especializados en seguridad informática.<br>
		   </p>
		   <p> “Debido al éxito obtenido en la 1era Edición de la Carrera por la Seguridad Informática, es que ahora damos continuidad este año, ofreciendo mayores beneficios y premios más atractivos, que motiven la venta de las soluciones de nuestro portafolio, así como, la preferencia y lealtad de nuestros socios de negocio” comento Fausto Escobar, director general de HD México.<br>
		   </p>
		   <p> Las marcas que participan durante la Carrera son: ISL Online, WebTitan, SpamTitan, UltraBac, ESET, TuneUp y Trustwave.<br>
		   </p>
		   <p> La Carrera por la Seguridad tendrá una vigencia de marzo a diciembre del presente año, y brinda la oportunidad de acumular puntos, los cuales les darán derecho a diferentes reconocimientos, premios, ofertas especiales y hasta un auto.<br>
		   </p>
		   <p> El objetivo del mayorista es fidelizar a su canal, así como hacer crecer su red de distribución, con lo cual pretende beneficiar a un mayor número de empresas, acercando las tecnologías de  comunicación, seguridad, respaldo y optimización de PCs.<br>
		   </p>
		   <p> Mayor información sobre la Carrera por la Seguridad: contacto@hdmexico.com.mx <br>
		     Tels. 2455 5524 y  01800 000 4369<br>
		   </p>
		   </p>
<p><a href="http://www.securitic.com.mx/mayoristas/836-inicia-hd-mexico-carrera-por-la-seguridad-informatica-en-su-edicion-2014" target="_blank"><img src="style/images/referencias-buttons.png" alt="" width="10" height="10" longdesc="style/images/referencias-buttons.png"></a> <a href="http://esemanal.mx/2014/03/inicia-hd-mexico-carrera-por-la-seguridad-informatica-2014/" target="_blank"><img src="style/images/referencias_buttons.png" width="10" height="10"></a></p>
<p><strong>HD México<br>
	        Mayorista en soluciones informáticas</strong><br>
		     (55) 2455 5524 / 01 800 000 4369<br>
		     <a data-cke-saved-href="mailto:contacto@hdmexico.com.mx" href="mailto:contacto@hdmexico.com.mx" target="_blank">contacto@hdmexico.com.mx</a><br>
	         <a data-cke-saved-href="http://www.hdmexico.com.mx" href="http://www.hdmexico.com.mx/" target="_blank">www.hdmexico.com.mx</a>            </p>
             </p>
	      <p><hr></p>
		</div>
		<div class="clear"></div>
    
    <div class="entry-content">
    
    	<div class="one-third">
    		<p><img src="style/images/hdmexico-nota-esetingfausto.jpg" alt="" width="219" height="145" longdesc="style/images/ayudar.jpg">                	
	    </div>
		<div class="two-third last">
			<h1>Reconocimientos y crecimiento en HD México</h1>
		    <p>febrero/marzo, 2014			</p>
		   <p>El mayorista realizó la primera ceremonia de premiación para sus canales con mejor desempeño durante el último año. Los ganadores fueron Operadora de Tiendas Voluntarias, Radikal Systems y MG Micros, los cuales se hicieron acreedores a pantallas LED, un viaje todo pagado a un destino turístico tropical, así como descuentos adicionales, de por vida, a su margen de ganancia.</p>
		   <p>		     Parte de los objetivos para este año es iniciar con un proceso de expansión geográfica que le permita llegar a otros mercados en América Latina, otra prioridad es ganar participación en proyectos de movilidad, además de dar continuidad a actividades como la carrera de seguridad informática y el programa de responsabilidad social con enfoques en tecnología amigable con el ambiente.<br>
	        </p>
		   <p>Fausto Escobar, director general de HD México, declaró: “La idea de la empresa es evolucionar y renovar la imagen corporativa que refleje nuestro enfoque de cobertura regional, de hecho ya hemos pactado con algunos proveedores la representación exclusiva en AL, actualmente ya contamos con presencia de un ejecutivo de operaciones en Argentina,  con ello se abren nuevas oportunidades de negocio para el canal”.<br>
	        </p>
		   <p>También se entregó un reconocimiento especial a Irina Ruiz de MG Micros por su desempeño comercial, la temática de la premiación se denominó Carrera por la Seguridad Informática 2013, el evento también sirvió para destacar valores de HD en aspectos como atención personalizada, soporte técnico gratuito, ya sea remoto en sitio o vía telefónica, además de ciclos de habilitación constante.<br>
		    
	        </p>
		   <p><a href="http://boletin.com.mx/industria-tic-boletin/item/562-hd-mexico-reconoce-a-su-canal-de-distribucion" target="_blank"><img src="style/images/referencias-buttons.png" alt="" longdesc="style/images/referencias-buttons.png"> <img src="style/images/referencias-buttons.png" width="10" height="10"></a> <a href="http://www.securitic.com.mx/mayoristas/815-hd-mexico-reconoce-y-premia-a-sus-mejores-socios-comerciales" target="_blank"><img src="style/images/referencias-buttons.png" width="10" height="10"></a></p>
	      <p><strong>HD México<br>
	        Mayorista en soluciones informáticas</strong><br>
		     (55) 2455 5524 / 01 800 000 4369<br>
		     <a data-cke-saved-href="mailto:contacto@hdmexico.com.mx" href="mailto:contacto@hdmexico.com.mx">contacto@hdmexico.com.mx</a><br>
	         <a data-cke-saved-href="http://www.hdmexico.com.mx" href="http://www.hdmexico.com.mx/" target="_blank">www.hdmexico.com.mx</a>            </p>
             </p>
	      <p><hr></p>
		</div>
		<div class="clear"></div>
        
        <div class="entry-content">
    
    	<div class="one-third">
    		<p><img src="style/images/hdmexico-nota-ingenrique.jpg" alt="" width="200" height="320" class="aligncenter" />
	    </div>
		<div class="two-third last">
			<h1>Soluciones de seguridad para enfrentar los retos del BYOD (Fragmento)</h1>
		    <p>febrero 3, 2014			</p>
		   <p>[...] Por último el Ing. Enrique Escobar, Director de soporte en HD México, expone que el principal reto que enfrentan las empresas ante el BYOD es el uso y manejo responsable de la información que contiene un dispositivo, ya que ésta puede ser más importante que el dispositivo en sí, y la pérdida o mal uso de los datos sensibles puede tener un grave impacto en las organizaciones.<br>
		   </p>
		   <p> Por esta razón el objetivo del mayorista es ofrecer soluciones enfocadas a la protección de datos en dispositivos móviles, el respaldo y la doble autenticación para el uso de contraseñas.<br>
		   </p>
		   <p> En este sentido las oportunidades de negocio se visualizan tanto en instituciones de gobierno como en la iniciativa privada, debido al uso de la información crítica para las organizaciones. Las entidades financieras o bancarias que manejan bases de datos o archivos confidenciales deben considerar implementar medidas de seguridad para los empleados que laboran fuera de la oficina y manejan información corporativa en sus propios equipos.<br>
		   </p>
		   <p> Para satisfacer las necesidades del mercado, HD México ofrece diversas alternativas, tales como: <br>
		   </p>
		   <p> UltraBac Warp que es un software de respaldo que proporciona de forma integral protección  continua de datos para equipos portátiles, realiza copias de seguridad y ayuda en la recuperación de desastres, no requiere conocimientos técnicos y es muy fácil de implementar.<br>
		   </p>
           <p> ESET Mobile Security, una solución de seguridad para smartphones y tablets, cuenta con módulo antispam, bloqueo remoto, previene infiltraciones provenientes de Bluetooth o WiFi, a la vez que protege aplicaciones, archivos y tarjetas de memoria ante intrusiones. Está disponible para Android, Symbian y Windows Mobile.<br>
           </p
           >
           <p> ESET SecureAuthentication, solución basada en la autenticación móvil de doble factor y con contraseña de un solo uso, proporciona una autenticación eficaz y segura para proteger el acceso remoto a la red corporativa y los datos confidenciales.<br>
           </p
           >
           <p> DESlock+, una aplicación de cifrado de datos que permite encriptar discos rígidos, medios extraíbles, archivos y correos electrónicos en forma segura, además permite administrar usuarios o estaciones de trabajo en forma remota, incluyendo el uso compartido de claves entre clientes en tiempo real.<br>
           </p
           >
           <p> Con un portafolio que incluye diversas marcas y soluciones el mayorista cuenta con una estrategia de capacitación continua, que permite a los asociados adquirir con el conocimiento suficiente para concretar proyectos en diferentes niveles de complejidad. En casos que así lo requieran el integrador puede solicitar el respaldo del mayorista para facilitar su labor comercial o a nivel de soporte y asesoría especializada.<br>
           </p
           >
           <p>Más información: http://www.hdmexico.com.mx/ <br>
             Contacto: Ing. Enrique Escobar, eescobar@hdmexico.com.mx </p
           >
           <p> Ante este escenario es fácil identificar que los retos de adoptar un modelo de BYOD por parte de las empresas incluyen encontrar soluciones de seguridad que se adapten a sus necesidades específicas. Por lo cual, desde pequeñas empresas hasta grandes corporativos requieren de un especialista que les ayude a resolver de la manera más adecuada sus requerimientos y esto se traduce en oportunidades de negocio tangibles para los integradores.</p
		   >
           <p><a href="http://www.securitic.com.mx/reportaje-especial/772-soluciones-de-seguridad-para-enfrentar-los-retos-del-byod" target="_blank"><img src="style/images/referencias-buttons.png" alt="" width="10" height="10" longdesc="style/images/referencias-buttons.png"></a></p>
           <p><strong>HD México<br>
             Mayorista en soluciones informáticas</strong><br>
             (55) 2455 5524 / 01 800 000 4369<br>
             <a data-cke-saved-href="mailto:contacto@hdmexico.com.mx" href="mailto:contacto@hdmexico.com.mx">contacto@hdmexico.com.mx</a><br>
             <a data-cke-saved-href="http://www.hdmexico.com.mx" href="http://www.hdmexico.com.mx/" target="_blank">www.hdmexico.com.mx</a>            </p>
             </p>
	        <p><hr></p>
		</div>
		<div class="entry-content"></div>

		<div class="clear"></div>

 	</div>    

<div class="entry-content">
  
  <div class="one-third">
    		<p><img src="style/images/hdmexico-nota-isl.png" alt="" width="200" height="500" class="aligncenter" />
	    </div>
		<div class="two-third last">
			<h1>HD México difunde promoción por lanzamiento de ISL Online</h1>
		    <p>enero/febero, 2014			</p>
		   <p>El mayorista presentó  ISL Online, herramienta de comunicación que incluye aplicaciones de mensajería instantánea corporativa, soporte y acceso de forma remota, conferencias online y webinars.<br>
		   </p>
		   <p> “Favorecer la interacción con los clientes a través de la implementación de un chat online, además de mejorar la atención, representa un gran valor para la organización, por ello mostramos a ISL Online como una opción para mejorar las comunicaciones en línea. Destaca por su fácil uso, costo accesible y eficiente en sus procesos”, comentó Fausto Escobar, director general de HD México.<br>
		   </p>
		   <p> De acuerdo con el mayorista, el contacto con el cliente y la velocidad en las respuestas incrementa las probabilidades de compra, pues al responder un email comercial dentro de la primera hora, la probabilidad de cerrar una venta se incrementa hasta un 70%. Oportunidad que con ISL Online se potencializa, aseguró la empresa.<br>
		   </p>
		   <p> Asimismo informó que para capitalizar posibilidades de negocio con la herramienta, lanzará una promoción durante los meses de febrero y  marzo, la cual incluye capacitación sin costo, descuentos especiales en las primeras compras y un kit de bienvenida.<br>
		   </p>
	      <p> También notificó que los distribuidores pueden solicitar una demostración en sitio o vía online, con el fin de conocer los beneficios que ISL Online ofrece. Puede contactar a Rocío Sánchez, directora comercial del mayorista al correo rsanchez@hdmexico.com.mx para mayor información.</p>
<p><a href="http://esemanal.mx/2014/01/hd-mexico-lanza-promocion-por-lanzamiento-isl-online/" target="_blank"><img src="style/images/referencias-buttons.png" alt="" width="10" height="10" longdesc="style/images/referencias-buttons.png"></a> <a href="http://www.dtic.com.mx/noticias/6560-hd-mexico-presenta-su-oferta-en-el-area-de-comunicaciones-online" target="-blank"><img src="style/images/referencias-buttons.png" alt="" width="10" height="10" longdesc="style/images/referencias-buttons.png"></a></p>
<p><strong>HD México<br>
  Mayorista en soluciones informáticas</strong><br>
  (55) 2455 5524 / 01 800 000 4369<br>
  <a data-cke-saved-href="mailto:contacto@hdmexico.com.mx" href="mailto:contacto@hdmexico.com.mx">contacto@hdmexico.com.mx</a><br>
  <a data-cke-saved-href="http://www.hdmexico.com.mx" href="http://www.hdmexico.com.mx/" target="_blank">www.hdmexico.com.mx</a>            </p>
             </p>
	        <p><hr></p>
		</div>
		<div class="clear"></div>

 	</div>    

    <div class="entry-content">
    
    <div class="entry-content">
    
    	<div class="one-third">
    		<p><img src="style/images/hdmexico-nota-help.jpg" alt="" width="200" height="331" longdesc="style/images/ayudar.jpg">
	    </div>
		<div class="two-third last">
			<h1>HD Mayorista crece a dos digitos y comparte su éxito a través de acciones sociales</h1>
		    <p>enero 21, 2014			</p>
		   <p> HD México anuncia un crecimiento del 20 %  en el año 2013, cuenta actualmente con más de 400 canales y sus planes para este 2014 son: la fidelización de su canal, mayor cobertura geográfica, además de fomentar una cultura social a favor de las poblaciones con bajos recursos.</p>
		   <p>Si bien, uno de los principales objetivos de toda empresa es crecer y obtener ingresos, también se suma la Labor y responsabilidad social, ya que algunas organizaciones designan un porcentaje de sus ganancias a favorecer a quienes menos tienen, y en esta ocasión, HD México inicia su Labor Social con la iniciativa TU AYUDAS, con la cual hizo entrega de artículos de primera necesidad, juguetes y cobijas  que sin duda pudieron disfrutar algunas poblaciones de bajos recursos del Estado de Tlaxcala.</p>
		   <p>Cabe mencionar, que se unieron a la causa los integrantes de la empresa, ya que como parte de la Cultura Empresarial de HD México es de suma importancia la sensibilización a favor de los que menos tienen.</p>
		   <p>&quot;En HD México creemos que nuestra de red de distribuidores forma parte primordial de la iniciativa TU AYUDAS, ya que son ellos quienes hacen posible que los clientes prefieran la tecnología que les proveemos, de tal forma que al obtener resultados favorables, no solo ellos ganan, sino ganamos todos... hasta los que menos tienen&quot; puntualiza Fausto Escobar, director general de HD México.</p>
		   <p>&quot;Invitamos a todo el canal a sumarse y que sean partícipes de esta gran acción a favor de nuestra sociedad&quot;, añadió.</p>
		   <p>Por otro lado, el mayorista da a conocer su calendario de capacitación, el cual no tiene costo y están invitados los distribuidores interesados en comercializar alguna de las soluciones de su portafolio: ISL ONLINE, WEBTITAN, SPAM TITAN, ULTRABAC, TRUSTWAVE, ESOFT, TUNE UP Y ESET:</p>
		   <p>Seminario Comercial de ESET : 22 de enero a las 5 pm Vía On line <br>
	        Seminario Técnico de ESET: 5 de febrero a las 5 pm Vía On line</p>
		   <p>Para registrarte puedes dar click <a href="https://islv6-groop.islonline.net/users/islgroop/register.html?session_id=239-888-929-242" target="_blank">aquí</a></p>
		   <p>Mayor información: contacto@hdmexico.com.mx <br>
		     Tels. 2455 5524 y  01800 000 4369<br>
		   <p><a href="http://www.dtic.com.mx/noticias/6512-hd-mayorista-crece-a-dos-digitos-e-incorpora-actividades-de-labor-social" target="_blank"><img src="style/images/referencias-buttons.png" alt="" width="10" height="10" longdesc="style/images/referencias-buttons.png"></a> <a href="http://nws.internetciudad.com/nota.php?id=15218&sitename=c3ZzcmFkaW8ubm90aS5teA==&http=//svsradio.noti.mx#.U3N96_l5OoM" target="_blank"><img src="style/images/referencias-buttons.png" alt="" width="10" height="10" longdesc="style/images/referencias-buttons.png"></a> <a href="http://nws.internetciudad.com/nota.php?id=15218&sitename=bWlsZW5pby5ub3RpLm14&http=//milenio.not" target="_blank"><img src="style/images/referencias-buttons.png" alt="" width="10" height="10" longdesc="style/images/referencias-buttons.png"></a></p>
		   <p><strong>HD México<br>
	          Mayorista en soluciones informáticas</strong><br>
		       
		       (55) 2455 5524 / 01 800 000 4369<br>
		       <a data-cke-saved-href="mailto:contacto@hdmexico.com.mx" href="mailto:contacto@hdmexico.com.mx">contacto@hdmexico.com.mx</a><br>
		       <a data-cke-saved-href="http://www.hdmexico.com.mx" href="http://www.hdmexico.com.mx/" target="_blank">www.hdmexico.com.mx</a>
            </p>
             </p>
		     <p><hr></p>
		</div>
       		<div class="clear"></div>
  

 	</div>
    	<div class="one-third">
    		<p><img src="style/images/hdmexico-nota-ingfausto.jpg" alt="" width="200" class="aligncenter" />
	    </div>
		<div class="two-third last">
			<h1>Planes 2014</h1>
		    <p>enero 5,  2014 </p>
		   <p>Fausto Escobar, Director General de HD México, considera que 2014 será un año de oportunidades, pues ha identificado algunas iniciativas que indican que habrá nuevos proyectos, lo que implica amplias posibilidades de desarrollo para sus canales.</p>
		   <p>El portafolio del mayorista está compuesto por marcas como SpamTitan, Ultrabac, eSoft,  Eset, e ISL Online, por mencionar algunas, las cuales han demostrado una buena aceptación en el mercado mexicano.</p>
		   <p>Parte de los planes que el mayorista tiene para sus partners incluye el desarrollo y consolidación de cada socio de negocio, para ello, ha desarrollado el programa Active Channel Program, el cual incluye varios beneficios y diversas ventajas competitivas que van desde capacitación y certificaciones sin costo hasta esquemas preferenciales de financiamiento.</p>
		   <p>Otro punto importante es la inclusión de sus canales en proyectos de otras soluciones, ya que la mayoría de sus partners tiene como base de negocio las soluciones de ESET, entonces en 2014 el mayorista enfocará esfuerzos en aumentar los proyectos que involucran otras marcas como SpamTitan que está teniendo una buena adopción en proyectos corporativos y de gobierno.</p>
		   <p>Adicionalmente buscará ampliar los horizontes con proyectos de colaboración a través de las soluciones de OSL Online, a fin de aumentar las posibilidades de crecimiento y abordar nuevos retos.</p><h3><a href="http://www.securitic.com.mx/reportaje-especial/733-planes-2014?showall=&start=1" target="_blank"><img src="style/images/referencias-buttons.png" alt="" width="10" height="10" longdesc="style/images/referencias-buttons.png"></a><br>
	        </h3>
             <p><strong>HD México<br>
              Mayorista en soluciones informáticas</strong><br>
               (55) 2455 5524 / 01 800 000 4369<br>
               <a data-cke-saved-href="mailto:contacto@hdmexico.com.mx" href="mailto:contacto@hdmexico.com.mx">contacto@hdmexico.com.mx</a><br>
               <a data-cke-saved-href="http://www.hdmexico.com.mx" href="http://www.hdmexico.com.mx/" target="_blank">www.hdmexico.com.mx</a>
            </p>
             </p>
		</div>
		<div class="clear"></div>


 	</div>


    <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  

  
  </div><!-- #content -->
</div><!-- #primary -->


</div><!-- #main -->

	<footer id="colophon" role="contentinfo">
		<div id="supplementary" class="four">
		<div id="first" class="widget-area" role="complementary">
			<aside class="widget">
				<h5 class="widget-title">Contacto</h5>	
				<p><strong>HD México </strong><br> (55) 2455 5524 <br>01800 000 4369 <br>contacto@hdmexico.com.mx <br>www.hdmexico.com.mx  <br></p>
			</aside>
			<aside class="widget">
				<h5 class="widget-title">Nuestras marcas</h5>	
				<div class="tagcloud">
                    <a href='spamtitan-presentacion.htm' class='tag-link-37' title='SpamTitan' style='font-size: 10pt;'>SpamTitan</a>
					<a href='webtitan-presentacion.htm' class='tag-link-33' title='WebTitan' style='font-size: 9pt;'>WebTitan</a>
					<a href='isl-inicio.htm' class='tag-link-32' title='ISL Online' style='font-size: 10pt;'>ISL Online</a>
					<a href='trustwave.htm' class='tag-link-28' title='Trustwave' style='font-size: 9pt;'>Trustwave</a>
					<a href='ultrabac.htm' class='tag-link-27' title='Ultrabac' style='font-size: 10pt;'>Ultrabac</a>
					<a href='eset-productos.htm' class='tag-link-376' title='ESET' style='font-size: 11pt;'>ESET</a>
				</div>
			</aside>
		</div><!-- #first .widget-area -->
<div id="second" class="widget-area" role="complementary">
			<aside class="widget">
				<h5 class="widget-title">Redes sociales</h5>
				<ul>
					<li><a href="https://twitter.com/HabeasDataMx" title="Twitter" target="_blank">Twitter</a></li>
					<li><a href="https://www.facebook.com/HabeasDataMx" title="Facebook" target="_blank">Facebook</a></li>
					<li><a href="https://plus.google.com/+HdmexicoMx" title="Google+" target="_blank">Google+</a></li>
					<li><a href="http://www.slideshare.net/hdlatinoamerica" title="Slideshare" target="_blank">Slideshare</a></li>
				</ul>
			</aside>	
		</div><!-- #second .widget-area -->
		<div id="third" class="widget-area" role="complementary">
			<aside class="widget">
				<h5 class="widget-title">Descarga nuestro portafolio</h5>
                    				<a href="style/docs/hdmexico-portafolio.swf" target="_blank"><img src="style/images/CV-HD.jpg" alt="Portafolio HD México"></a><br><a href="style/docs/hdmexico-portafolio.pdf" target="_blank">Descarga PDF</a>
			</aside>
		</div><!-- #third .widget-area -->
		<div id="fourth" class="widget-area" role="complementary">
			<aside class="widget">
				<h5 class="widget-title">Recibe nuestros boletines</h5>			
			      	<!-- Begin MailChimp Signup Form -->
					<div id="mc_embed_signup">
                    	<form action="//hdmexico.us10.list-manage.com/subscribe/post?u=9e1311c73a4a7ce72d57461c4&amp;id=808b900fe4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    						<div id="mc_embed_signup_scroll">
							<div class="mc-field-group"><input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Correo electrónico"></div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div> 
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    						<div style="position: absolute; left: -5000px;"><input type="text" name="b_9e1311c73a4a7ce72d57461c4_808b900fe4" tabindex="-1" value=""></div>
    						<div class="clear"><input type="submit" value="Enviar" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
   						</div>
						</form>
					</div>
							<!--End mc_embed_signup-->
				</aside>
			</div><!-- #fourth .widget-area -->
		</div><!-- #supplementary -->
		<div id="site-generator">
			Copyright 2015 - HD Latinoamérica S.A. de C.V.
		</div>
	</footer><!-- #colophon -->
  </div><!-- #wrapper -->
</div><!-- #page -->
<script type="text/javascript" src="style/js/scripts.js"></script>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
<!-- begin Flotante code -->
<style>
#hcr {
position:fixed;
top:60px;
z-index:+1000;
}
* html #hcr {position:relative;}
.hcrtab {
height:100px;
width:30px;
float:left;
cursor:pointer;
background:url('./style/images/ChatBox5.png') no-repeat;
}
.hcrcontent {
float:left;
border:2px solid #A3ADB2;
background:#FFFFFF;
padding:10px;
}
.hc-credit {font-size:9px}
.hc-credit a {text-decoration:none}
</style>
<script type="text/javascript">
function showHidehcr(){
var hcr = document.getElementById("hcr");
var w = hcr.offsetWidth;
hcr.opened ? movehcr(0, 30-w) : movehcr(20-w, 0);
hcr.opened = !hcr.opened;
}
function movehcr(x0, xf){
var hcr = document.getElementById("hcr");
var dx = Math.abs(x0-xf) > 10 ? 5 : 1;
var dir = xf>x0 ? 1 : -1;
var x = x0 + dx * dir;
hcr.style.right = x.toString() + "px";
if(x0!=xf){setTimeout("movehcr("+x+", "+xf+")", 10);}
}
</script>
<div id="hcr">
<div class="hcrtab" onclick="showHidehcr()"> </div>
<div class="hcrcontent">
<!-- CHAT BOX CODE HERE -->
<a id="islpronto_link" href="mailto:soporte@hdmexico.com.mx"><img width="240" height="142" style="border:none" title="Chat en vivo" id="islpronto_image" alt="Live Chat" src="http://hdmexico.com.mx/soporte_files/islpronto-message.jpg"/></a>
<script type="text/javascript" src="http://islpronto.islonline.net/live/islpronto/public/chat.js?d=HDMEXICO&lang=es"></script>
<!-- END CHAT BOX CODE --->
<br />
<div class="hc-credit">
<span style="float:right">
<a href="javascript:showHidehcr()">
[Cerrar]
</a>
</span>
</div>
</div>
</div>
<script type="text/javascript">
var hcr = document.getElementById("hcr");
hcr.style.right = (30-hcr.offsetWidth).toString() + "px";
</script>
</div>
<div class='clear'></div>
<span class='widget-item-control'>
<span class='item-control blog-admin'>
<a class='quickedit' href='//www.blogger.com/rearrange?blogID=6756021128688737735&widgetType=HTML&widgetId=HTML7&action=editWidget&sectionId=sidebar' onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML7"));' target='configHTML7' title='Editar'>
</a>
</span>
</span>
<div class='clear'></div>
</div></div>
</div>
<div class='clear'></div>
</div>
<div class='clear'></div>
</div>
<!-- END Flotante DEEP LINK CODE -->
</html>
