<!DOCTYPE HTML>
<html lang="es-419">
<head>
<meta charset="UTF-8">
<meta name="description" content="ISL Online, Ofrezca soporte remoto rápido y seguro a sus clientes, acceda a equipos remotos o dispositivos móviles, comuníquese con los visitantes de su web a través del chat, y reúnase online por medio de videoconferencia y webinars.">
<meta name="keywords" content="ISL Online, ISL Always On, webinars, video conferencias, chat online, web chat, ISL Groop, conferencia web, acceso remoto, comunicación en tiempo real">
<title>HD México |  ISL Online Descargas</title>






<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>
<!--[if IE 8]>

<![endif]-->
<!--[if IE 9]>

<![endif]-->







<script>
  
</script>

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0029/2627.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

</head>
<body class="single singular">
<div id="page" class="hfeed">
<div id="wrapper">
<header id="branding" role="banner">
<h1 id="site-title"> 
  	<a href="index.html" title="HD México" rel="home">
  <img src="style/images/logo.png" alt="HD México" /><img src="style/images/marca2.png"></a></h1>
  <div class="social">
    <ul>
      <li><a href="https://www.facebook.com/HabeasDataMx" target="_blank"><img src="style/images/icon-facebook.png" alt="Facebook" /></a></li>
      <li><a href="https://twitter.com/HabeasDataMx" target="_blank"><img src="style/images/icon-twitter.png" alt="Twitter" /></a></li>
      <li><a href="http://www.slideshare.net/hdlatinoamerica" target="_blank"><img src="style/images/icon-slideshare.png" alt="Slide Share" /></a></li>
    </ul>
</div>
  <nav id="access" class="access" role="navigation">
        <div id="menu" class="menu">
        	<ul id="tiny">
				<li><a href="index.html">Home</a>
					<ul>
			            <li><a href="somos.htm">Nosotros</a></li>
                        <li><a href="contacto.htm">Contacto</a></li>
                        <li><a href="canales.htm">Canales</a></li>
                        <li><a href="blog.htm">Blog</a></li>
                        <li><a href="hdm-press.htm">Prensa</a></li>
                        <li><a href="mapa.htm">Mapa del sitio</a></li>
			        </ul>
				</li>
				<li><a href="spamtitan-presentacion.htm">SpamTitan</a>
                	<ul>
			            <li><a href="spamtitan-productos.htm">Productos</a>
							<ul>
                       			<li><a href="spamtitan-cloud.htm">SpamTitan Cloud</a></li>
                        		<li><a href="spamtitan-pcloud.htm">SpamTitan Private Cloud</a></li>
                       			<li><a href="spamtitan-gateway.htm">SpamTitan Gateway</a></li>
			        		</ul>
						</li>
                        <li><a href="spamtitan-esptec.htm">Especifícaciones técnicas</a></li>
                        <li><a href="spamtitan-download.htm">Descargas</a></li>
                        <li><a href="spamtitan-requerimientos.htm">Requerimientos</a></li>
                     </ul>
                </li>                  
				<li><a href="webtitan-presentacion.htm">WebTitan</a>
                	<ul>
			            <li><a href="webtitan-productos.htm">Productos</a>
							<ul>
                       			<li><a href="webtitan-cloud.htm">WebTitan Cloud</a></li>
                        		<li><a href="webtitan-wifi.htm">WebTitan Wi-Fi</a></li>
                       			<li><a href="webtitan-gateway.htm">WebTitan Gateway</a></li>
			        		</ul>
						</li>
                        <li><a href="webtitan-esptec.htm">Especifícaciones técnicas</a></li>
                        <li><a href="webtitan-download.htm">Descargas</a></li>
                        <li><a href="webtitan-requerimientos.htm">Requerimientos</a></li>
                     </ul>
                </li>
				<li><a href="arctitan-presentacion.htm">ArcTitan</a></li>
				<li><a href="isl-inicio.htm">ISL Online</a>
                	<ul>
			            <li><a href="isl-light.htm">Soporte Remoto</a></li>
						<li><a href="isl-alwayson.htm">Acceso Remoto</a></li>
                        <li><a href="isl-pronto.htm">Web Chat</a></li>
                        <li><a href="isl-groop.htm">Conferencia Web</a></li>
                       	<li><a href="isl-funciones.htm">Funciones</a></li>
                        <li><a href="isl-tools.htm">Tools</a></li>
                       	<li><a href="isl-descargas.htm">Descargas</a></li>
                    </ul>
                </li>
                <li><a href="trustwave.htm">Trustwave</a>
                	<ul>
			            <li><a href="trustwave-cumplimiento.htm">Cumplimiento</a></li>
                        <li><a href="trustwave-spiderlabs.htm">Spiderlabs</a></li>
                        <li><a href="trustwave-security.htm">Gestión de seguridad</a></li>
                     </ul>
                </li>
				<li><a href="ultrabac.htm">Ultrabac</a>
                	<ul>
			            <li><a href="ultrabac-ubdr.htm">Ultrabac UBDR Gold</a></li>
						<li><a href="ultrabac-bundle.htm">Ultrabac Ultimate Bundle</a></li>
                        <li><a href="ultrabac-requerimientos.htm">Requerimientos</a></li>
                        <li><a href="ftp://ftp.ultrabac.com/pub/ub_versions/current_release/ub9-eng.zip">Descarga</a></li>
                        <li><a href="style/docs/UB92-Manual.pdf">Manual de usuario</a></li>                        
                  	</ul>                
                </li>
				<li><a href="eset-productos.htm">ESET</a>
                	<ul>
			            <li><a href="pres-eset-business.htm">Soluciones corporativas</a>
                			<ul>                
 			            		<li><a href="eesecurity.htm">Seguridad para endpoints</a></li>
								<li><a href="eeantivirus.htm">Protección unificada</a></li>
                                <li><a href="eremotea.htm">Administración remota</a></li>
                                <li><a href="#.htm">Dispositivos móviles</a></li>
                                <li><a href="#.htm">Servidores de correo</a></li>
                                <li><a href="#.htm">Servidores de archivo</a></li>                                
                                <li><a href="#.htm">Servidores Gateway</a></li>
                                <li><a href="esaut.htm">Autenticación</a></li>
                                <li><a href="edeslock.htm">Cifrado</a></li>
                                <li><a href="eset-bss.htm">Protección integral</a></li>
                  			</ul>
                        </li> 
						<li><a href="pres-eset-home.htm">Soluciones hogar</a>
                			<ul>                
 			            		<li><a href="ess.htm">ESET Smart Security</a></li>
								<li><a href="ena.htm">ESET NOD32 Antivirus</a></li>
                                <li><a href="ecsp.htm">ESET Cybersecurity Pro para Mac</a></li>
                                <li><a href="ecs.htm">ESET Cybersecurity para Mac</a></li>
                                <li><a href="ems.htm">ESET Mobile Security</a></li>
                                <li><a href="efsp.htm">ESET Family Security Pack</a></li>
                  			</ul>                        
                        </li>
                        <li><a href="des-bs.htm">Descargas</a>
                			<ul>                
 			            		<li><a href="des-bs.htm">Soluciones corporativas</a></li>
								<li><a href="des-hm.htm">Soluciones para hogar</a></li>
                                <li><a href="des-gratuita.htm">Descarga TRIAL</a></li>
                  			</ul>
                		</li>
                        <li><a href="eset-vs.htm">Por qué elegir ESET</a></li>
                     </ul>
                 </li>
				 <li><a href="warriors-presentacion.htm">Warriors</a></li>
				 <li><a href="soporte.htm">Soporte</a></li>
				 <li><a href="contacto.htm">Contacto</a></li> 
        	</ul>
		</div>
  </nav>
		<div class="triangle-l"></div>
		<div class="triangle-r"></div>
  <!-- #access --> 
</header>
<!-- #branding -->

<div id="main">
<div id="primary">
  <div id="content" role="main">
    <!-- begin article -->
  <article class="post hentry format-image">
  	<header class="entry-header">
		<h1 class="entry-title">ISL Online | Descargas</h1>
    	<!-- .entry-meta -->
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
      <div class="full-size">
      	<img src="style/images/hdmexico-islonline.jpg" alt="" /></div>
          <!--TYPO3SEARCH_begin-->
<link rel="stylesheet" type="text/css" href="./style/script_desplegable/screen_6d455c7f17_minify__merged.css" media="screen">
  <script type="text/javascript" src="./style\script_desplegable/ebacc5180d_minify__merged.js"></script>
  <meta name="viewport" content="width = 630, user-scalable = yes">
<body><div id="icon-mouseover-hover-opacity-helper" class="icon-mouseover-hover-opacity"></div>
  <div style="position:absolute;"></div>

<div id="website" class="clearfix">
  <div id="content" class="clearfix">
  <div class="gradient-box box-element clearfix" id="c3995">
    <div class="accordion">
      <h1 class="csc-firstHeader"><a href="javascript:return false;" class="">Soporte Remoto</a></h1>
    <div id="c4005" class="csc-default" style="display: none;">
    <table width="100%" border="0">
              <tr>
                <td width="70%">ISL Light Operador<br>
                  <img width="48" height="8" src="style/images/download-islonline/multiplataforma2.png" v:shapes="Imagen_x0020_18" title="" alt="" style="">
                  <span style="text-align: justify;"><span style="font-size: 9pt;">Ofrezca soporte remoto a sus clientes, partners, y empleados.<br>
                  </span></span><br>                  
                  <br></td>
                <td width="3%">&nbsp;</td>
                <td width="27%"><p style="text-align: left;"><a href="http://www.islonline.net/start/isllightdesk" target="_blank"><br>
                  <img src="style/images/download-islonline/isl-light-operador.jpg" alt="" width="102" height="30" title=""></a><br>
                </p></td>
                </tr>
              <tr>
                <td>ISL Light Cliente<br>
                  <img width="48" height="17" src="style/images/download-islonline/multiplataforma2.png" v:shapes="Imagen_x0020_18" title="" alt="" style="">
                  Reciba soporte remoto a través de un operador.<br>                  <br></td>
                <td>&nbsp;</td>
                <td><p style="text-align: left;"><br>
                  <a href="http://www.islonline.net/start/isllightclient" target="_blank"><img src="style/images/download-islonline/isl-light-cliente.jpg" alt="" width="102" height="30" style="" title=""></a></a></p></td>
                </tr>
              <tr>
                <td>ISL Light iOS<br>
                  <img width="9" height="15" src="style/images/download-islonline/Multiplataforma4.png" v:shapes="Imagen_x0020_16" title="" alt="" style="">
                  <span style="text-align: justify;"><span style="font-size: 9pt;">Conéctese con su iPhone, iPad, o iPad touch a cualquier equipo Windows, Mac o Linux y realice control remoto.<br>
                  </span></span><br></td>
                <td>&nbsp;</td>
                <td><p style="text-align: left;"><br>
                  <a href="http://www.islonline.com/r301/?type=program&program=isl-light&version=2.1&os=ios&topic=appstore-http://www.islonline.com/r301/?type=program&program=isl-light&version=2.1&os=ios&topic=appstore-download&language=es" target="_blank"><img src="style/images/download-islonline/appstore-button.jpg" alt="" width="95" height="30" style="" title=""></a></p></td>
                </tr>
              <tr>
                <td>ISL Light Android<br>
                  <img width="9" height="15" src="style/images/download-islonline/Multiplataforma4.png" v:shapes="Imagen_x0020_16" title="" alt="" style="">
                  <span style="font-size: 9pt;">Conéctese desde Android a cualquier equipo Windows, Mac, o Linux y realice control remoto.</span><br></td>
                <td>&nbsp;</td>
                <td><span style="text-align: left;"><a href="http://www.islonline.com/r301/?type=program&program=isl-light&version=1.1&os=android&topic=gplay-app-url&language=es" target="_blank"><br>
                    <img src="style/images/download-islonline/android-app-on-play-logo-large.jpg" alt="" width="79" height="30" style="" title=""></a></span></td>
              </tr>
              <tr>
                <td>ISL Light WMC<br>
                  <img width="9" height="15" src="style/images/download-islonline/Multiplataforma4.png" v:shapes="Imagen_x0020_16" title="" alt="" style="">
                  <span style="text-align: justify;"><span style="font-size: 9pt;">Utilice su smartphone Windows Mobile 6.5 para conectarse a Windows, Mac o Linux y realice control remoto. También podrá conectarse a su dispositivo móvil desde su equipo.<br>
                  </span></span></td>
                <td>&nbsp;</td>
                <td><p style="text-align: left;"><br>
                  <a href="https://www.islonline.com/system/special?p=isl-light&os=wince" target="_blank"><img src="style/images/download-islonline/isl-light-wmc.jpg" alt="" width="102" height="30" style="" title=""></a></p></td>
                </tr>
              </table>
</div>
</div></div>
  
  <div class="gradient-box box-element clearfix" id="c4002">
    <div class="accordion">
      <h1 class="csc-firstHeader"><a href="javascript:return false;" class="">Acceso Remoto</a></h1>
    <div id="c4005" class="csc-default" style="display: none;"><table width="100%" border="0">
              <tr>
                <td width="70%">ISL AlwaysOn<br>
                  <img width="15" height="17" src="style/images/download-islonline/multiplataforma3.png" v:shapes="Imagen_x0020_11" title="" alt="" style="" /> <span style="text-align: justify;"><span style="font-size: 9pt;">Configure acceso remoto a su equipo y disponga de una lista de equipos remotos.<br>
                  </span></span></td>
                <td width="3%">&nbsp;</td>
                <td width="27%"><p style="text-align: left;"><a href="http://www.islonline.net/start/isllightdesk" target="_blank"><br>
                </a><a href="http://www.islonline.net/start/ISLAlwaysOn" target="_blank"><img src="style/images/download-islonline/isl-alwayson.jpg" alt="" width="102" height="30" style="" title="" /></a><br>
                </p></td>
              </tr>
              <tr>
                <td>ISL Always Connect<br>
                  <img width="48" height="17" src="style/images/download-islonline/multiplataforma2.png" v:shapes="Imagen_x0020_18" title="" alt="" style=""><span style="font-size: 9pt;">Acceda a su equipo Windows y realice control remoto.</span><br></td>
                <td>&nbsp;</td>
                <td><p style="text-align: left;"><br>
                  </a><a href="https://alwayson.islonline.net/users/islalwayson/list.html" target="_blank"><img src="style/images/download-islonline/isl-alwayson-connect.jpg" alt="" width="102" height="30" style="" title="" /></a></p></td>
              </tr>
              <tr>
                <td>ISL Light iOS<br>
                  <img width="9" height="15" src="style/images/download-islonline/Multiplataforma4.png" v:shapes="Imagen_x0020_16" title="" alt="" style=""> <span style="text-align: justify;"><span style="font-size: 9pt;">Con el sistema de control remoto podrá acceder a su equipo Windows desde su iPhone, iPad, o iPad touch.<br>
                  </span></span></td>
                <td>&nbsp;</td>
                <td><p style="text-align: left;"><br>
                  <span style="text-align: center;"><a href="http://www.islonline.com/r301/?type=program&program=isl-light&version=2.1&os=ios&topic=appstore-download&language=es" target="_blank"><img src="style/images/download-islonline/appstore-button.jpg" alt="" width="95" height="30" title="" /></a></span></p></td>
              </tr>
              <tr>
                <td>ISL Light Android<br>
                  <img width="9" height="15" src="style/images/download-islonline/Multiplataforma4.png" v:shapes="Imagen_x0020_16" title="" alt="" style=""> <span style="text-align: justify;"><span style="font-size: 9pt;">Acceda a su equipo Windows y controle el escritorio remoto a través de su dispositivo Android.<br>
                  </span></span></td>
                <td>&nbsp;</td>
                <td><span style="text-align: left;"><br>
                <a href="http://www.islonline.com/r301/?type=program&program=isl-light&version=1.1&os=android&topic=gplay-app-url&language=es" target="_blank"><br>
                  <span style="text-align: center;"><a href="http://www.islonline.com/r301/?type=program&program=isl-light&version=1.1&os=android&topic=gplay-app-url&language=es" target="_blank"><img src="style/images/download-islonline/android-app-on-play-logo-large.jpg" alt="" width="79" height="30" title="" /></a></span></p></td>
              </tr>
            </table></div></div></div>
  
  <div class="gradient-box box-element clearfix" id="c4006">
    <div class="accordion">
      <h1 class="csc-firstHeader"><a href="javascript:return false;" class="">Web Chat</a></h1>
    <div id="c4009" class="csc-default" style="display: none;"><table width="100%" border="0">
              <tr>
                <td width="70%">ISL Pronto<br>
                  <img width="48" height="17" src="style/images/download-islonline/multiplataforma2.png" v:shapes="Imagen_x0020_18" title="" alt="" style=""> <span style="text-align: justify;"><span style="font-size: 9pt;">La Mensajería Instantánea Corporativa le permitirá ofrecer servicios de soporte a través del chat y resolver cualquier cuestión al instante<br>
                  </span></span></td>
                <td width="3%">&nbsp;</td>
                <td width="27%"><p style="text-align: left;"><a href="http://www.islonline.net/start/isllightdesk" target="_blank"><br>
                  </a><a href="http://www.islonline.net/start/ISLPronto" target="_blank"><img src="style/images/download-islonline/isl_pronto.jpg" alt="" width="102" height="30" style="font-size: 13px;" title="" /></a><a href="http://www.islonline.net/start/ISLAlwaysOn" target="_blank"></a><br>
                </p></td>
              </tr>
        </table></div></div></div>
  
  <div class="gradient-box box-element clearfix" id="c4011">
    <div class="accordion">
      <h1 class="csc-firstHeader"><a href="javascript:return false;">Conferencia Web</a></h1>
    <div id="c4014" class="csc-default" style="display: none;"><table width="100%" border="0">
              <tr>
                <td width="70%">ISL Groop<br>
                  <img width="48" height="17" src="style/images/download-islonline/multiplataforma2.png" v:shapes="Imagen_x0020_18" title="" alt="" style=""> <span style="text-align: justify;"><span style="font-size: 9pt;">Únese o cree tu propia Reunión Online o Webinar.<br>
                  </span></span></td>
                <td width="3%">&nbsp;</td>
                <td width="27%"><p style="text-align: left;"><a href="http://www.islonline.net/start/isllightdesk" target="_blank"><br>
                  </a><span style="text-align: center;"><a href="http://www.islonline.net/join/233-686-955" target="_blank"><img src="style/images/download-islonline/isl-pronto-reunion.jpg" alt="" width="102" height="30" style="" title="" /></a></span><br>
                </p></td>
              </tr>
              <tr>
                <td>ISL Groop iOS<br>
                  <img width="9" height="15" src="style/images/download-islonline/Multiplataforma4.png" v:shapes="Imagen_x0020_16" title="" alt="" style=""> <span style="text-align: justify;"><span style="font-size: 9pt;">Participe en reuniones online desde su iPhone o iPad.<br>
                  </span></span></td>
                <td>&nbsp;</td>
                <td><p style="text-align: left;"><br>
                  <a href="http://itunes.apple.com/es/app/isl-groop/id586629371?mt=8" target="_blank"><img src="style/images/download-islonline/appstore-button.jpg" alt="" width="95" height="30" title="" /></a><br>
                </p></td>
              </tr>
            </table></div></div></div>
  <div class="gradient-box box-element clearfix" id="c4137">
    <div class="accordion">
      <h1 class="csc-firstHeader"><a href="javascript:return false;">Herramientas ISL Online</a></h1>
    <div id="c4140" class="csc-default" style="display: none;"><table width="100%" border="0">
              <tr>
                <td width="70%">ISL WebStart<br>
                  <img width="15" height="17" src="style/images/download-islonline/multiplataforma3.png" v:shapes="Imagen_x0020_11" title="" alt="" style="" /> <span style="text-align: justify;"><span style="font-size: 9pt;">ActiveX / Netscape le permite iniciar sus sesiones ISL Online al instante directamente desde su explorador (Internet Explorer, Mozilla Firefox, Safari, Google Chrome, Opera), sin visualizar diálogos de seguridad.<br>
                  </span></span></td>
                <td width="3%">&nbsp;</td>
                <td width="27%"><p style="text-align: left;"><a href="http://www.islonline.net/start/isllightdesk" target="_blank"><br>
                  </a><span style="text-align: center;"><a href="https://www.islonline.net/start/ISLWebStart" target="_blank"><img src="style/images/download-islonline/isl-webstart.jpg" alt="" width="102" height="30" style="" title="" /></a></span><br>
                </p></td>
              </tr>
              <tr>
                <td>ISL Tester<br>
                  <img width="48" height="17" src="style/images/download-islonline/multiplataforma2.png" v:shapes="Imagen_x0020_18" title="" alt="" style=""><span style="font-size: 9pt;"> Compruebe la disponibilidad de la red global de servidores ISL Online o realice un test sobre la instalación de su propio servidor ISL Conference Proxy.</span><br></td>
                <td>&nbsp;</td>
                <td><p style="text-align: left;"><br>
                  <span style="text-align: center;"><a href="https://www.islonline.net/start/ConnectionTester" target="_blank"><img src="style/images/download-islonline/isl-tester.jpg" alt="" width="102" height="30" style="" title="" /></a></span><br>
                </p></td>
              </tr>
              <tr>
                <td>ISL Recording Player<br>
                  <img width="9" height="15" src="style/images/download-islonline/Multiplataforma4.png" v:shapes="Imagen_x0020_16" title="" alt="" style=""> <span style="text-align: justify;"><span style="font-size: 9pt;">Con el sistema de control remoto podrá acceder a su equipo Windows desde su iPhone, iPad, o iPad touch.<br>
                  </span></span></td>
                <td>&nbsp;</td>
                <td><p style="text-align: left;"><br>
                  <span style="text-align: center;"><a href="https://www.islonline.net/start/ISLRecordingPlayer" target="_blank"><img src="style/images/download-islonline/isl_player.jpg" alt="" width="102" height="30" style="" title="" /></a></span><br>
                </p></td>
              </tr>
              </table></div></div></div>
                        
</div>
<div id="bottom-chrome" style="display: none;">
        <div id="bottom-chrome-arrow">
          <img src="./style/script_desplegable/green-arrow-trans.png" align="bottom">
        </div>
        <div id="bottom-chrome-end">
        </div>
      </div>
<!--TYPO3SEARCH_end-->
    </div>
  </article>			
  <hr /><!-- #primary -->
</div><!-- #main -->

	<footer id="colophon" role="contentinfo">
		<div id="supplementary" class="four">
		<div id="first" class="widget-area" role="complementary">
			<aside class="widget">
				<h5 class="widget-title">Contacto</h5>	
				<p><strong>HD México </strong><br> (55) 2455 5524 <br>01800 000 4369 <br>contacto@hdmexico.com.mx <br>www.hdmexico.com.mx  <br></p>
			</aside>
			<aside class="widget">
				<h5 class="widget-title">Nuestras marcas</h5>	
				<div class="tagcloud">
                    <a href='spamtitan-presentacion.htm' class='tag-link-37' title='SpamTitan' style='font-size: 10pt;'>SpamTitan</a>
					<a href='webtitan-presentacion.htm' class='tag-link-33' title='WebTitan' style='font-size: 9pt;'>WebTitan</a>
					<a href='arctitan-presentacion.htm' class='tag-link-33' title='WebTitan' style='font-size: 9pt;'>ArcTitan</a><br>
					<a href='isl-inicio.htm' class='tag-link-32' title='ISL Online' style='font-size: 10pt;'>ISL Online</a>
					<a href='trustwave.htm' class='tag-link-28' title='Trustwave' style='font-size: 9pt;'>Trustwave</a>
					<a href='ultrabac.htm' class='tag-link-27' title='Ultrabac' style='font-size: 10pt;'>Ultrabac</a>
					<a href='eset-productos' class='tag-link-376' title='ESET' style='font-size: 10pt;'>ESET</a>
					<a href='warriors-presentacion.htm' class='tag-link-376' title='Warriors' style='font-size: 9pt;'>Warriors</a>
				</div>
			</aside>
		</div><!-- #first .widget-area -->
<div id="second" class="widget-area" role="complementary">
			<aside class="widget">
				<h5 class="widget-title">Redes sociales</h5>
				<ul>
					<li><a href="https://twitter.com/HabeasDataMx" title="Twitter" target="_blank">Twitter</a></li>
					<li><a href="https://www.facebook.com/HabeasDataMx" title="Facebook" target="_blank">Facebook</a></li>
					<li><a href="https://plus.google.com/+HdmexicoMx" title="Google+" target="_blank">Google+</a></li>
					<li><a href="http://www.slideshare.net/hdlatinoamerica" title="Slideshare" target="_blank">Slideshare</a></li>
				</ul>
			</aside>	
		</div><!-- #second .widget-area -->
		<div id="third" class="widget-area" role="complementary">
			<aside class="widget">
				<h5 class="widget-title">Descarga nuestro portafolio</h5>
                    				<a href="style/docs/hdmexico-portafolio.swf" target="_blank"><img src="style/images/CV-HD.jpg" alt="Portafolio HD México"></a><br><a href="style/docs/hdmexico-portafolio.pdf" target="_blank">Descarga PDF</a>
			</aside>
		</div><!-- #third .widget-area -->
		<div id="fourth" class="widget-area" role="complementary">
			<aside class="widget">
				<h5 class="widget-title">Recibe nuestros boletines</h5>			
			      	<!-- Begin MailChimp Signup Form -->
					<div id="mc_embed_signup">
                    	<form action="//hdmexico.us10.list-manage.com/subscribe/post?u=9e1311c73a4a7ce72d57461c4&amp;id=808b900fe4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    						<div id="mc_embed_signup_scroll">
							<div class="mc-field-group"><input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Correo electrónico"></div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div> 
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    						<div style="position: absolute; left: -5000px;"><input type="text" name="b_9e1311c73a4a7ce72d57461c4_808b900fe4" tabindex="-1" value=""></div>
    						<div class="clear"><input type="submit" value="Enviar" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
   						</div>
						</form>
					</div>
							<!--End mc_embed_signup-->
				</aside>
			</div><!-- #fourth .widget-area -->
		</div><!-- #supplementary -->
		<div id="site-generator">
			Copyright 2015 - HD Latinoamérica S.A. de C.V.
		</div>
	</footer><!-- #colophon -->
  </div><!-- #wrapper -->
</div><!-- #page -->
<script type="text/javascript" src="style/js/scripts.js"></script>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
<!-- begin Flotante code -->
<style>
#hcr {
position:fixed;
top:60px;
z-index:+1000;
}
* html #hcr {position:relative;}
.hcrtab {
height:100px;
width:30px;
float:left;
cursor:pointer;
background:url('./style/images/ChatBox5.png') no-repeat;
}
.hcrcontent {
float:left;
border:2px solid #A3ADB2;
background:#FFFFFF;
padding:10px;
}
.hc-credit {font-size:9px}
.hc-credit a {text-decoration:none}
</style>
<script type="text/javascript">
function showHidehcr(){
var hcr = document.getElementById("hcr");
var w = hcr.offsetWidth;
hcr.opened ? movehcr(0, 30-w) : movehcr(20-w, 0);
hcr.opened = !hcr.opened;
}
function movehcr(x0, xf){
var hcr = document.getElementById("hcr");
var dx = Math.abs(x0-xf) > 10 ? 5 : 1;
var dir = xf>x0 ? 1 : -1;
var x = x0 + dx * dir;
hcr.style.right = x.toString() + "px";
if(x0!=xf){setTimeout("movehcr("+x+", "+xf+")", 10);}
}
</script>
<div id="hcr">
<div class="hcrtab" onclick="showHidehcr()"> </div>
<div class="hcrcontent">
<!-- CHAT BOX CODE HERE -->
<a id="islpronto_link" href="mailto:soporte@hdmexico.com.mx"><img width="240" height="142" style="border:none" title="Chat en vivo" id="islpronto_image" alt="Live Chat" src="http://hdmexico.com.mx/soporte_files/islpronto-message.jpg"/></a>
<script type="text/javascript" src="http://islpronto.islonline.net/live/islpronto/public/chat.js?d=HDMEXICO&lang=es"></script>
<!-- END CHAT BOX CODE --->
<br />
<div class="hc-credit">
<span style="float:right">
<a href="javascript:showHidehcr()">
[Cerrar]
</a>
</span>
</div>
</div>
</div>
<script type="text/javascript">
var hcr = document.getElementById("hcr");
hcr.style.right = (30-hcr.offsetWidth).toString() + "px";
</script>
</div>
<div class='clear'></div>
<span class='widget-item-control'>
<span class='item-control blog-admin'>
<a class='quickedit' href='//www.blogger.com/rearrange?blogID=6756021128688737735&widgetType=HTML&widgetId=HTML7&action=editWidget&sectionId=sidebar' onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML7"));' target='configHTML7' title='Editar'>
</a>
</span>
</span>
<div class='clear'></div>
</div></div>
</div>
<div class='clear'></div>
</div>
<div class='clear'></div>
</div>
<!-- END Flotante DEEP LINK CODE -->
</html>
