{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | ISL Online</title>


{% endblock %}

{% block body %}
<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>




<div id="main">

<div id="primary">

  <div id="content" role="main">

    <!-- begin article -->

  <article class="post hentry format-image">

  	<header class="entry-header">

		<h1 class="entry-title">ISL Online</h1>

    	<!-- .entry-meta -->

    </header>

    <!-- .entry-header -->

    

    <div class="entry-content">

      <div class="full-size">

      	<img src="{{asset('bundles/app/style/images/hdmexico-islonline.jpg')}}" alt="" /></div>

      <table width="100%" border="0">

        <tr>

          <td width="10%">&nbsp;</td>

          <td width="30%"><p><strong>Ofrezca soporte remoto rápido y seguro a sus clientes, acceda a equipos remotos o dispositivos móviles, comuníquese con los visitantes de su web a través del chat, y reúnase online por medio de videoconferencia y webinars.</strong></p>

            <p><img src="{{asset('bundles/app/style/images/hdmexico-islonline-productos.jpg')}}" width="264"></p>

            <p>&nbsp;</p></td>

          <td width="10%">&nbsp;</td>

          <td width="40%"><p><strong>Soporte Remoto</strong><br>Controle un equipo remoto en menos de 30 segundos.<br>

            Establezca una conexión remota segura con cualquier ordenador atravesando firewalls y ofrezca soporte a sus clientes de forma remota. Vea su escritorio remoto, controle su teclado y ratón y transfiera archivos. Ahorre tiempo y reduzca sus costes de servicio al cliente.</p>

            <p><strong>Acceso Remoto</strong><br>

              Permita acceso remoto y acceda a su equipo desde cualquier lugar.<br>

              Instale el acceso remoto en un PC o servidor y conseguirá tener acceso a todos sus equipos en cualquier momento.

              <p><strong>Web Chat<br>

</strong>Incorpore Web Chat a su página web.<br>

Rápida integración en su página web, ISL Online crea un canal de chat online para los visitantes de su sitio web. Éstos simplemente clickarán en el botón 'Web Chat' e instantáneamente iniciarán una comunicación a tiempo real con el personal de su empresa.

              <p><strong>Conferencia Web</strong><br>

                Organice una conferencia web en segundos.<br>

              Con ISL Groop podrá crear reuniones y webinars muy fácilmente. No requiere conocimientos informáticos ni instalaciones previas para su utilización. Solo tiene que iniciar una conferencia web e invitar a los participantes.              </td>

          <td width="10%">&nbsp;</td>

        </tr>

        <tr>

          <td>&nbsp;</td>

          <td colspan="3"><p>&nbsp;</p></td>

        </tr>

        </table>

    </div>

  </article>			

  <hr /><!-- #primary -->

</div><!-- #main -->
{% endblock %}