{% extends '::base_app.html.twig' %}
{% block title %}

<title>HD México | SpamTitan Private Cloud</title>
{% endblock %}

{% block body %}
<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
}
</style>

<div id="main">
<div id="primary">
  <div id="content" role="main">
    <!-- begin article -->
  <article class="post hentry format-image">
  	<header class="entry-header">
		<h1 class="entry-title">SpamTitan Private Cloud</h1></header>
    <!-- .entry-header -->
    
    <div class="entry-content">
      <div class="full-size">
      	<img src="style/images/hdmex-spamtitan-03.jpg" alt="" /></div>
      <table width="100%" border="0">
        <tr>
          <td width="10%">&nbsp;</td>
          <td width="80%" colspan="2">
          
          <table width="100%" border="0">
            <tr>
              <td width="30%">
            	<p><strong>SpamTitan Private Cloud es un servicio antispam basado en la nube dedicada a su organización. Esta opción de implementación única le da todas las ventajas de la solución SpamTitan Cloud, pero sin tener que utilizar un recurso compartido.</strong></p>
                <p>SpamTitan es ideal para proveedores de servicios administrados (MSPs) que desean ofrecer el servicio de filtrado antispam sin tener que implementar, configurar y administrar redes de infraestructura, hardware y software.</p>
                <p>Los integradores que requieren equipamiento original (OEM) o White Lebels SpamTitan para venderlo bajo su propia marca.</p>
                <p>Industrias donde un recurso compartido no es posible debido a la legislación o los requisitos reglamentarios. </p></td>
             
              <td width="5%">&nbsp;</td>
              <td width="65%">
              	<p><strong>Especificaciones técnicas</strong></p>
                <p>•	Acceso inmediato, tan sólo 5 minutos para poner en marcha la solución<br>
              •	Análisis antispam multicapa con 99,97% detección de spam, incluyendo Sender Policy Framework, SURBL de análisis bayesiano de RBL y más<br>
              •	Acceso inmediato - Empiece a trabajar en 5 minutos<br>
              •	Doble protección antivirus<br>
              •	LDAP, verificación del receptor archivo dinámico y alias<br>
              •	Autenticación SASL<br>
              •	Sin gastos de mantenimiento<br>
              •	Interfaz web que permite el acceso controlado de cualquier red y elimina la necesidad de software de gestión adicional<br>
              •	Versión completa disponible en 11 idiomas<br>
              •	Sin necesidad de hardware o software <br>
              •	Sin requisitos de sistema operativo<br>
              •	Altamente eficaz<br>
              •	Control de contenido para bloquear el tráfico de correo electrónico no deseado <br>
              •	Puede ser gestionado por el administrador o el usuario<br>
              •	Listas blancas / Listas negras<br>
              •	Servicio completamente en la nube<br>
              •	Escaneo de correo saliente y enrutamiento<br>
              •	Control de protección IP<br>
              •	Escalable para satisfacer las necesidades de cada organización<br>
              •	Número ilimitado de usuarios<br>
              •	Soporte de múltiples dominios<br>
              •	Informes de cuarentena de usuario<br>
              •	Opción Cluster para mejorar el rendimiento y la redundancia - a través de cualquier número de centros de datos si es necesario<br>
              •	Administración de múltiples niveles (usuario, dominio, grupos de dominios, etc.)<br>
              •	Ideal para proveedores de servicios. Garantice la seguridad de correo electrónico de sus clientes, y hacer la gestión de spam fácil.</p></td>
            </tr>
          </table>
            	
           </td>
          <td width="10%">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td colspan="2">&nbsp;</td>
        </tr>
        </table>
    </div>
  </article>			
  <hr /><!-- #primary -->
</div><!-- #main -->
{% endblock %}