{% extends '::base.html.twig' %}
{% block placeholder %}
{% endblock %}
{% block body -%}

<div id="content-wrapper" class="email-inbox-wrapper"><div class="row" style="opacity: 1;">

<div class="col-lg-12">
<div id="email-box" class="clearfix">
<div class="row">
<div class="col-lg-12">
<div id="email-header-mobile" class="visible-xs visible-sm clearfix">
<div id="email-header-title-mobile" class="pull-left">
<i class="fa fa-inbox"></i> Inbox
</div>
<a href="email-compose.html" class="btn btn-success email-compose-btn pull-right">
<i class="fa fa-pencil-square-o"></i> Compose email
</a>
</div>
<header id="email-header" class="clearfix">
<div id="email-header-title" class="visible-md visible-lg">
<i class="fa fa-inbox"></i> Inbox
</div>
<div id="email-header-tools">
<div class="btn-group">
<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle has-tooltip" type="button" title="" data-original-title="Select">
<i class="fa fa-square-o"></i> <span class="caret"></span>
</button>
<ul class="dropdown-menu">
<li><a href="#">All</a></li>
<li><a href="#">None</a></li>
<li><a href="#">Read</a></li>
<li><a href="#">Unread</a></li>
<li><a href="#">Starred</a></li>
<li><a href="#">Unstarred</a></li>
</ul>
</div>
<div class="btn-group">
<button class="btn btn-primary" type="button" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Refresh">
<i class="fa fa-refresh"></i>
</button>
<button class="btn btn-primary" type="button" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Spam">
<i class="fa fa-exclamation-circle"></i>
</button>
<button class="btn btn-primary" type="button" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Erase">
<i class="fa fa-trash-o"></i>
</button>
</div>
<div class="btn-group">
<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle has-tooltip" type="button" title="" data-original-title="Labels">
<i class="fa fa-tag"></i> <span class="caret"></span>
</button>
<ul class="dropdown-menu">
<li><a href="#"><i class="fa fa-circle green"></i> Work</a></li>
<li><a href="#"><i class="fa fa-circle red"></i> Home</a></li>
<li><a href="#"><i class="fa fa-circle yellow"></i> Personal</a></li>
<li><a href="#"><i class="fa fa-circle purple"></i> Documents</a></li>
</ul>
</div>
</div>
<div id="email-header-pagination" class="pull-right">
<div class="btn-group pagination pull-right">
<button class="btn btn-primary" type="button" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Previous">
<i class="fa fa-chevron-left"></i>
</button>
<button class="btn btn-primary" type="button" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Next">
<i class="fa fa-chevron-right"></i>
</button>
</div>
<div class="num-items pull-right hidden-xs">
1-50 from 5,912
</div>
</div>
</header>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div id="email-navigation" class="email-nav-nano hidden-xs hidden-sm has-scrollbar">
<div class="email-nav-nano-content" tabindex="0" style="right: -15px;">
<a href="{{ path('mensaje_new') }}" class="btn btn-success email-compose-btn">
<i class="fa fa-pencil-square-o"></i> Compose email
</a>
<ul id="email-nav-items" class="clearfix">
<li class="active">
<a href="#">
<i class="fa fa-inbox"></i>
Inbox
<span class="label label-primary pull-right">83</span>
</a>
</li>
<li>
<a href="#">
<i class="fa fa-star"></i>
Starred
</a>
</li>
<li>
<a href="#">
<i class="fa fa-pencil"></i>
Drafts
</a>
</li>
<li>
<a href="#">
<i class="fa fa-envelope"></i>
Sent
<span class="label label-default pull-right">11</span>
</a>
</li>
<li>
<a href="#">
<i class="fa fa-trash-o"></i>
Trash
<span class="label label-default pull-right">1,292</span>
</a>
</li>
</ul>
<div id="email-nav-labels-wrapper">
<div class="email-nav-headline">
Labels
</div>
<ul id="email-nav-labels" class="clearfix">
<li>
<a href="#">
<i class="fa fa-circle emerald"></i>
Important
</a>
</li>
<li>
<a href="#">
<i class="fa fa-circle red"></i>
Home
</a>
</li>
<li>
<a href="#">
<i class="fa fa-circle green"></i>
Work
</a>
</li>
<li>
<a href="#">
<i class="fa fa-circle yellow"></i>
Personal
</a>
</li>
<li>
<a href="#">
<i class="fa fa-circle purple"></i>
Documents
</a>
</li>
</ul>
</div>
</div>
<div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 811px; transform: translate(0px, 0px);"></div></div></div>
<div id="email-content" class="email-content-nano has-scrollbar" style="height: 826px;">
<div class="email-content-nano-content" tabindex="0" style="right: -15px;">
<ul id="email-list">
{% for entity in entities %}
<li class="unread clickable-row" data-href="{{ path('mensaje_show', { 'id': entity.id }) }}">
    <div class="chbox">
        <div class="checkbox-nice">
            <input type="checkbox" id="m-checkbox-1">
            <label for="m-checkbox-1"></label>
        </div>
    </div>
    <div class="star">
        <a></a>
    </div>
    <div class="name">
        Mila Kunis
    </div>
    <div class="message">
        <span class="label label-success">Work</span>
        <span class="subject">{{ entity.subjet }}</span>
        <span class="body">{{ entity.body }}</span>
    </div>
    <div class="meta-info">
        <a href="#" class="attachment">
            <i class="fa fa-paperclip"></i>
        </a>
        <span class="date">9:34 am</span>
    </div>
</li>
{% endfor %}


</ul>
</div>
<div class="nano-pane"><div class="nano-slider" style="height: 580px; transform: translate(0px, 0px);"></div></div></div>
</div>
</div>
</div>
</div>
</div>

    {% endblock %}