{% extends '::base.html.twig' %}
{% block placeholder %}
{% endblock %}
{% block body -%}
    <h1>mensaje creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('mensaje') }}">
            Back to the list
        </a>
    </li>
</ul>
<div id="content-wrapper" class="email-inbox-wrapper">
<div class="row" style="opacity: 1;">
<div class="col-lg-12">
<div id="email-box" class="clearfix">
<div class="row">
<div class="col-lg-12">
<div id="email-header-mobile" class="visible-xs visible-sm clearfix">
<div id="email-header-title-mobile" class="pull-left">
<i class="fa fa-inbox"></i> Inbox
</div>
<a href="email-compose.html" class="btn btn-success email-compose-btn pull-right">
<i class="fa fa-pencil-square-o"></i> Compose email
</a>
</div>
<header id="email-header" class="clearfix">
<div id="email-header-title" class="visible-md visible-lg">
<i class="fa fa-inbox"></i> Inbox
</div>
<div id="email-header-tools">
<div class="btn-group">
<a class="btn btn-primary" href="email-inbox.html">
<i class="fa fa-chevron-left"></i> Back to inbox
</a>
</div>
<div class="btn-group">
<button class="btn btn-primary" type="button" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Refresh">
<i class="fa fa-refresh"></i>
</button>
<button class="btn btn-primary" type="button" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Spam">
<i class="fa fa-exclamation-circle"></i>
</button>
<button class="btn btn-primary" type="button" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Erase">
<i class="fa fa-trash-o"></i>
</button>
</div>
<div class="btn-group">
<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle has-tooltip" type="button" title="" data-original-title="Labels">
<i class="fa fa-tag"></i> <span class="caret"></span>
</button>
<ul class="dropdown-menu">
<li><a href="#"><i class="fa fa-circle green"></i> Work</a></li>
<li><a href="#"><i class="fa fa-circle red"></i> Home</a></li>
<li><a href="#"><i class="fa fa-circle yellow"></i> Personal</a></li>
<li><a href="#"><i class="fa fa-circle purple"></i> Documents</a></li>
</ul>
</div>
</div>
<div id="email-header-pagination" class="pull-right hidden-xs">
<div class="btn-group pagination pull-right">
<button class="btn btn-primary" type="button" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Previous">
<i class="fa fa-chevron-left"></i>
</button>
<button class="btn btn-primary" type="button" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Next">
<i class="fa fa-chevron-right"></i>
</button>
</div>
<div class="num-items pull-right hidden-xs">
1-50 from 5,912
</div>
</div>
</header>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div id="email-navigation" class="email-nav-nano hidden-xs hidden-sm has-scrollbar">
<div class="email-nav-nano-content" tabindex="0" style="right: -15px;">
<a href="email-compose.html" class="btn btn-success email-compose-btn">
<i class="fa fa-pencil-square-o"></i> Compose email
</a>
<ul id="email-nav-items" class="clearfix">
<li>
<a href="email-inbox.html">
<i class="fa fa-inbox"></i>
Inbox
<span class="label label-default pull-right">83</span>
</a>
</li>
<li>
<a href="#">
<i class="fa fa-star"></i>
Starred
</a>
</li>
<li>
<a href="#">
<i class="fa fa-pencil"></i>
Drafts
</a>
</li>
<li>
<a href="#">
<i class="fa fa-envelope"></i>
Sent
<span class="label label-default pull-right">11</span>
</a>
</li>
<li>
<a href="#">
<i class="fa fa-trash-o"></i>
Trash
<span class="label label-default pull-right">1,292</span>
</a>
</li>
</ul>
<div id="email-nav-labels-wrapper">
<div class="email-nav-headline">
Labels
</div>
<ul id="email-nav-labels" class="clearfix">
<li>
<a href="#">
<i class="fa fa-circle emerald"></i>
Important
</a>
</li>
<li>
<a href="#">
<i class="fa fa-circle red"></i>
Home
</a>
</li>
<li>
<a href="#">
<i class="fa fa-circle green"></i>
Work
</a>
</li>
<li>
<a href="#">
<i class="fa fa-circle yellow"></i>
Personal
</a>
</li>
<li>
<a href="#">
<i class="fa fa-circle purple"></i>
Documents
</a>
</li>
</ul>
</div>
</div>
<div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 811px; transform: translate(0px, 0px);"></div></div></div>
<div id="email-new" class="email-new-nano has-scrollbar" style="height: 826px;">
<div class="email-new-nano-content" tabindex="0" style="right: -15px;">
<div id="email-new-inner">
<div id="email-new-title" class="clearfix">
<span class="subject">New Email</span>
</div>
<form>
<div id="email-new-header">
<div class="row form-group">
<label for="s2id_autogen1" class="col-md-2">To:</label>
<div class="col-md-10">
<div class="select2-container select2-container-multi form-control-s2 email-recepients" id="s2id_exampleInpTo"><ul class="select2-choices">  <li class="select2-search-choice">    <div>mila@kunis.com</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li><li class="select2-search-choice">    <div>ryan@gosling.com</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li><li class="select2-search-field">    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" id="s2id_autogen1" style="width: 34px;">  </li></ul><div class="select2-drop select2-drop-multi select2-display-none">   <ul class="select2-results">   </ul></div></div><input type="text" placeholder="Enter recepients" id="exampleInpTo" class="form-control-s2 email-recepients select2-offscreen" value="mila@kunis.com,ryan@gosling.com" tabindex="-1">
</div>
</div>
<div class="row form-group">
<label for="s2id_autogen2" class="col-md-2">CC:</label>
<div class="col-md-10">
<div class="select2-container select2-container-multi form-control-s2 email-recepients" id="s2id_exampleInpCc"><ul class="select2-choices">  <li class="select2-search-choice">    <div>angelina@jolie.com</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li><li class="select2-search-field">    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" id="s2id_autogen2" style="width: 34px;">  </li></ul><div class="select2-drop select2-drop-multi select2-display-none">   <ul class="select2-results">   </ul></div></div><input type="text" placeholder="Enter recepients" id="exampleInpCc" class="form-control-s2 email-recepients select2-offscreen" value="angelina@jolie.com" tabindex="-1">
</div>
</div>
<div class="row form-group">
<label for="exampleInpSubject" class="col-md-2">Subject:</label>
<div class="col-md-10">
<input type="text" placeholder="Enter subject" id="exampleInpSubject" class="form-control">
</div>
</div>
</div>
<div id="email-new-body">
<div class="row">
<label class="visible-xs">Content:</label>
<div class="col-md-12">
<div id="alerts"></div>
<div class="btn-toolbar editor-toolbar hidden-xs" data-role="editor-toolbar" data-target="#editor">
<div class="btn-group">
<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a data-edit="fontName Serif" style="font-family:'Serif'">Serif</a></li><li><a data-edit="fontName Sans" style="font-family:'Sans'">Sans</a></li><li><a data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li><li><a data-edit="fontName Arial Black" style="font-family:'Arial Black'">Arial Black</a></li><li><a data-edit="fontName Courier" style="font-family:'Courier'">Courier</a></li><li><a data-edit="fontName Courier New" style="font-family:'Courier New'">Courier New</a></li><li><a data-edit="fontName Comic Sans MS" style="font-family:'Comic Sans MS'">Comic Sans MS</a></li><li><a data-edit="fontName Helvetica" style="font-family:'Helvetica'">Helvetica</a></li><li><a data-edit="fontName Impact" style="font-family:'Impact'">Impact</a></li><li><a data-edit="fontName Lucida Grande" style="font-family:'Lucida Grande'">Lucida Grande</a></li><li><a data-edit="fontName Lucida Sans" style="font-family:'Lucida Sans'">Lucida Sans</a></li><li><a data-edit="fontName Tahoma" style="font-family:'Tahoma'">Tahoma</a></li><li><a data-edit="fontName Times" style="font-family:'Times'">Times</a></li><li><a data-edit="fontName Times New Roman" style="font-family:'Times New Roman'">Times New Roman</a></li><li><a data-edit="fontName Verdana" style="font-family:'Verdana'">Verdana</a></li></ul>
</div>
<div class="btn-group">
<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
<li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
<li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
</ul>
</div>
<div class="btn-group">
<a class="btn btn-default" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
<a class="btn btn-default" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
<a class="btn btn-default" data-edit="strikethrough" title="" data-original-title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
<a class="btn btn-default" data-edit="underline" title="" data-original-title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
</div>
<div class="btn-group">
<a class="btn btn-default" data-edit="insertunorderedlist" title="" data-original-title="Bullet list"><i class="fa fa-list-ul"></i></a>
<a class="btn btn-default" data-edit="insertorderedlist" title="" data-original-title="Number list"><i class="fa fa-list-ol"></i></a>
<a class="btn btn-default" data-edit="outdent" title="" data-original-title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
<a class="btn btn-default" data-edit="indent" title="" data-original-title="Indent (Tab)"><i class="fa fa-indent"></i></a>
</div>
<div class="btn-group">
<a class="btn btn-default" data-edit="justifyleft" title="" data-original-title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
<a class="btn btn-default" data-edit="justifycenter" title="" data-original-title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
<a class="btn btn-default" data-edit="justifyright" title="" data-original-title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
<a class="btn btn-default" data-edit="justifyfull" title="" data-original-title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
</div>
<div class="btn-group">
<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Hyperlink"><i class="fa fa-link"></i></a>
<div class="dropdown-menu input-append">
<input class="span2" placeholder="URL" type="text" data-edit="createLink">
<button class="btn" type="button">Add</button>
</div>
<a class="btn btn-default" data-edit="unlink" title="" data-original-title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
</div>
<div class="btn-group">
<a class="btn btn-default" title="" id="pictureBtn" data-original-title="Insert picture (or just drag &amp; drop)"><i class="fa fa-picture-o"></i></a>
<input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" style="opacity: 0; position: absolute; top: 0px; left: 0px; width: 39px; height: 36px;">
</div>
<div class="btn-group">
<a class="btn btn-default" data-edit="undo" title="" data-original-title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
<a class="btn btn-default" data-edit="redo" title="" data-original-title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
</div>
<input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="" style="display: none;">
</div>
<div id="editor" class="wysiwyg-editor" contenteditable="true">
Go ahead…
</div>
</div>
</div>
</div>
<div id="email-new-footer">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-2">
<div class="pull-right">
<div class="btn-group">
<button type="button" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
</div>
<div class="btn-group">
<button type="button" class="btn btn-success"><i class="fa fa-send"></i> Send email</button>
</div>
</div>
</div>
</div>
</div>
</form>
</div>
</div>
<div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 811px; transform: translate(0px, 0px);"></div></div></div>
</div>
</div>
</div>
</div>
</div>
<footer id="footer-bar" class="row hidden-md hidden-lg" style="opacity: 1;">
<p id="footer-copyright" class="col-xs-12">
© 2014 <a href="http://www.adbee.sk/" target="_blank">Adbee digital</a>. Powered by Centaurus Theme.
</p>
</footer>
</div>
{% endblock %}
